.loading-build {
  position: static;
  background-color: transparent;
  margin-right: 0.5rem;
  width: 24px;
  height: 24px;
}

.list-sort-item {
  padding: 10px;
  &.disabled {
    background: var(--color-basic-default);
    .content-title {
      opacity: 0.5;
    }
  }
  .content {
    max-width: calc(100% - 80px);
    .content-title {
      font-weight: bold;
    }
    .label {
      display: block;
    }
  }
}