<nb-card class="card-module" [ngClass]="active == 'list' || active == 'edit' ? 'card-list' : ''">
  <nb-card-header>
    <nb-actions size="small">
      <nb-action nbButton
      [ngClass]="active == 'list' ? 'active' : null"
      (click)="navigate()">
        <nb-icon class="action-icon" icon="cube-outline"></nb-icon>
        <span>Abstract</span>
      </nb-action>
      <nb-action nbButton
      [ngClass]="active == 'edit' ? 'active' : null"
      *ngIf="active == 'edit'">
        <nb-icon class="action-icon" icon="edit-outline"></nb-icon>
        <span>Edit ID</span>
        <nb-icon icon="chevron-right-outline"></nb-icon>
        <span *ngIf="activeID">{{ activeID }}</span>
      </nb-action>
      <nb-action nbButton
      [ngClass]="active == 'create' ? 'active' : null"
      (click)="navigate('/create')"
      *ngIf="active != 'edit'">
        <nb-icon class="action-icon" icon="plus-outline"></nb-icon>
        <span>Create</span>
      </nb-action>
      <nb-action nbButton
      (click)="openSort()"
      *ngIf="active == 'list'">
        <nb-icon class="action-icon" icon="list-outline"></nb-icon>
        <span>Sort</span>
      </nb-action>
      <nb-action nbButton
      (click)="buildAll()"
      [disabled]="submittedBuild"
      *ngIf="active == 'list'">
        <nb-spinner message="" size="small" status="primary" class="loading-build" *ngIf="submittedBuild"></nb-spinner>
        <nb-icon class="action-icon" icon="play-circle-outline" *ngIf="!submittedBuild"></nb-icon>
        <span>{{ submittedBuild ? ('Building ' + submittedBuild + ' module(s)') : 'Build All' }}</span>
      </nb-action>
      <nb-action nbButton
      (click)="import()"
      [disabled]="submittedImport"
      *ngIf="active == 'list'">
        <nb-spinner message="" size="small" status="primary" class="loading-build" *ngIf="submittedImport"></nb-spinner>
        <nb-icon class="action-icon" icon="cloud-upload-outline" *ngIf="!submittedImport"></nb-icon>
        <span>Import</span>
      </nb-action>
      <nb-action nbButton
      (click)="export()"
      [disabled]="submittedExport"
      *ngIf="active == 'list'">
        <nb-spinner message="" size="small" status="primary" class="loading-build" *ngIf="submittedExport"></nb-spinner>
        <nb-icon class="action-icon" icon="download-outline" *ngIf="!submittedExport"></nb-icon>
        <span>Export</span>
      </nb-action>
      <nb-action nbButton
      (click)="sync()"
      [disabled]="submittedSync"
      *ngIf="active == 'list'">
        <nb-spinner message="" size="small" status="primary" class="loading-build" *ngIf="submittedSync"></nb-spinner>
        <nb-icon class="action-icon" icon="sync-outline" *ngIf="!submittedSync"></nb-icon>
        <span>Sync from Module</span>
      </nb-action>
    </nb-actions>
    <nb-select hero [(selected)]="type" 
    [status]="type == 'active' ? 'success' : type == 'inactive' ? 'danger' : 'primary'"
    *ngIf="active == 'list'"
    (selectedChange)="onSelectStatus($event)">
      <nb-option *ngFor="let item of types" 
      [value]="item.value">
        {{ item.title }}
      </nb-option>
    </nb-select>
  </nb-card-header>
  <nb-card-body>
    <nb-progress-bar size="tiny" status="primary"
    [value]="buildingProgress" 
    [displayValue]="true" 
    *ngIf="submittedBuild">
    </nb-progress-bar>
    <abstract-abstract-table
    [type]="type"
    [reload]="reloadTable"
    *ngIf="active == 'list'">
    </abstract-abstract-table>
    <router-outlet *ngIf="active != 'list'"></router-outlet>
  </nb-card-body>
</nb-card>

<ng-template #dialogSort let-data let-ref="dialogRef">
  <nb-card class="card-list" *ngIf="data">
    <nb-card-header>
      Sort Abstract
    </nb-card-header>
    <nb-card-body *ngIf="data.length">
      <div class="list-sort-modal">
        <div cdkDropList class="list-sort-container in-modal" (cdkDropListDropped)="sort($event, data)">
          <div class="list-sort-item" *ngFor="let item of data" cdkDrag
          [ngClass]="item.active !== true ? 'disabled' : ''">
            <div class="content">
              <div class="content-title text-ellipsis">
                {{ item.name }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </nb-card-body>
    <nb-card-footer>
      <button nbButton (click)="ref.close(false)">
        <nb-icon class="action-icon" icon="close-outline"></nb-icon>
        Close
      </button>
    </nb-card-footer>
  </nb-card>
</ng-template>

<ng-template #dialog let-data let-ref="dialogRef">
  <nb-card>
    <nb-card-header>
      Confirm Exit
    </nb-card-header>
    <nb-card-body>{{ data }}</nb-card-body>
    <nb-card-footer>
      <button nbButton hero (click)="ref.close(true)" status="warning">
        <nb-icon class="action-icon" icon="alert-triangle-outline"></nb-icon>
        Exit
      </button>
      <button nbButton (click)="ref.close(false)">
        <nb-icon class="action-icon" icon="close-outline"></nb-icon>
        Cancel
      </button>
    </nb-card-footer>
  </nb-card>
</ng-template>

<ng-template #dialogError let-data let-ref="dialogRef">
  <nb-card>
    <nb-card-header>
      Error
    </nb-card-header>
    <nb-card-body>{{ data }}</nb-card-body>
    <nb-card-footer>
      <button nbButton (click)="ref.close(true)">
        <nb-icon class="action-icon" icon="arrow-back-outline"></nb-icon>
        Back
      </button>
    </nb-card-footer>
  </nb-card>
</ng-template>

<ng-template #dialogBuild let-data let-ref="dialogRef">
  <nb-card>
    <nb-card-header>
      Confirm Build All
    </nb-card-header>
    <nb-card-body>{{ data }}</nb-card-body>
    <nb-card-footer>
      <button nbButton hero (click)="ref.close(true)" status="success">
        <nb-icon class="action-icon" icon="play-circle-outline"></nb-icon>
        Build All
      </button>
      <button nbButton (click)="ref.close(false)">
        <nb-icon class="action-icon" icon="close-outline"></nb-icon>
        Cancel
      </button>
    </nb-card-footer>
  </nb-card>
</ng-template>

<ng-template #dialogSync let-data let-ref="dialogRef">
  <nb-card>
    <nb-card-header>
      Confirm Sync
    </nb-card-header>
    <nb-card-body>{{ data }}</nb-card-body>
    <nb-card-footer>
      <button nbButton hero (click)="ref.close(true)" status="success">
        <nb-icon class="action-icon" icon="sync-outline"></nb-icon>
        Sync
      </button>
      <button nbButton (click)="ref.close(false)">
        <nb-icon class="action-icon" icon="close-outline"></nb-icon>
        Cancel
      </button>
    </nb-card-footer>
  </nb-card>
</ng-template>

<ng-template #dialogImport let-data let-ref="dialogRef">
  <nb-card>
    <nb-card-header>
      Confirm Import
    </nb-card-header>
    <nb-card-body>
      {{ data }}
      <div class="form-group">
        <input nbInput fullWidth type="file" accept=".abstracts" (change)="handleFileInput($event.target.files)" />
      </div>
    </nb-card-body>
    <nb-card-footer>
      <button nbButton hero (click)="ref.close(true)" status="warning">
        <nb-icon class="action-icon" icon="cloud-upload-outline"></nb-icon>
        Import
      </button>
      <button nbButton (click)="ref.close(false)">
        <nb-icon class="action-icon" icon="close-outline"></nb-icon>
        Cancel
      </button>
    </nb-card-footer>
  </nb-card>
</ng-template>