@import '../../@theme/styles/themes';

@include nb-install-component() {

  .contact {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .device {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .device-icon {
      width: 40px;
      padding-right: 20px;
    }
    ion-label {
      flex: 0 0 calc(100% - 80px);
      width: calc(100% - 80px);
      max-width: calc(100% - 80px);
      > div {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }
      span {
        &.capitalize {
          text-transform: capitalize;
        }
      }
    }
  }

}

ng2-smart-table {
  ::ng-deep {
    table {
      > thead {
        > tr {
          &:first-child {
            > th {
              border: none;
            }
          }
          > th {
            &.ng2-smart-actions-title-add {
              a {
                font-size: 1.6rem !important;
                line-height: calc(1em + 2px);
              }
            }
          }
          > td {
            table-cell-custom-editor {
              abstract-table-list-module {
                ::ng-deep {
                  nb-select {
                    height: calc(1.5em + 0.75rem + 2px);
                    &.appearance-outline {
                      &.size-medium {
                        ::ng-deep .select-button {
                          height: calc(1.5em + 0.75rem + 2px);
                          line-height: calc(1em + 2px);
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}