<div class="row" *ngIf="loaded">
  <div class="col-sm-8">
    <form 
    name="form_user" 
    [formGroup]="formGroup" 
    (ngSubmit)="submit()"
    *ngIf="formGroup">
      <div class="form-group">
        <label for="user_username" class="label">Username</label>
        <input type="text" 
        nbInput 
        fullWidth 
        id="user_username" 
        placeholder="Username"
        formControlName="username" />
      </div>
      <div class="form-group">
        <label for="user_name" class="label">Name</label>
        <input type="text" 
        nbInput 
        fullWidth 
        id="user_name" 
        placeholder="Name"
        formControlName="name" />
      </div>
      <div class="form-group">
        <label for="user_last_name" class="label">Last Name</label>
        <input type="text" 
        nbInput 
        fullWidth 
        id="user_last_name" 
        placeholder="Last Name"
        formControlName="last_name" />
      </div>
      <div class="form-group">
        <label for="user_nick_name" class="label">Nick Name</label>
        <input type="text" 
        nbInput 
        fullWidth 
        id="user_nick_name" 
        placeholder="Nick Name"
        formControlName="nick_name" />
      </div>
      <div class="row">
        <div class="col-sm-8">
          <div class="form-group">
            <label for="user_email" class="label">Email</label>
            <input type="text" 
            nbInput 
            fullWidth 
            id="user_email" 
            placeholder="Email"
            formControlName="email" />
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group">
            <label for="email_verified" class="label">Verification</label>
            <div class="checkbox-container">
              <nb-checkbox id="email_verified" formControlName="email_verified">
                Verified
              </nb-checkbox>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-8">
          <div class="form-group">
            <label for="user_phone" class="label">Phone</label>
            <input type="text" 
            nbInput 
            fullWidth 
            id="user_phone" 
            placeholder="Phone"
            formControlName="phone" />
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group">
            <label for="phone_verified" class="label">Verification</label>
            <div class="checkbox-container">
              <nb-checkbox id="phone_verified" formControlName="phone_verified">
                Verified
              </nb-checkbox>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label  class="label">Face Verfication</label>
        <div class="checkbox-container">
          <nb-checkbox id="ndid_verified" formControlName="ndid_verified">
            Verified
          </nb-checkbox>
        </div>
      </div>
      <div class="form-group">
        <label  class="label">National Digital ID (NDID) Verfication</label>
        <div class="checkbox-container">
          <nb-checkbox id="ndid_verified" formControlName="ndid_verified">
            Verified
          </nb-checkbox>
        </div>
      </div>
    </form>
    <nb-card class="card-list top">
      <nb-card-header>Controls</nb-card-header>
      <nb-card-body>
        <ng2-smart-table #controller 
        [settings]="controlsSettings" 
        [source]="controls"
        [ngClass]="controlsLoading ? 'hidden' : ''">
        </ng2-smart-table>
        <nb-list
        *ngIf="controlsLoading">
          <nb-list-item>
            Loading...
          </nb-list-item>
        </nb-list>
      </nb-card-body>
    </nb-card>
    <nb-card class="card-list" *ngIf="connects.length">
      <nb-card-header>Connect</nb-card-header>
      <nb-card-body>
        <nb-list>
          <nb-list-item class="contact" *ngFor="let connect of connects">
            <nb-user [name]="connect.app" 
            [title]="connect.name + ' (' + moment(connect.create_at).format('LLL') + ')'" 
            [picture]="
            (connect.picture) ? connect.picture : ''
            "
            >
            </nb-user>
            <div class="buttons">
              <button nbButton (click)="deleteConnect(connect)">
                <nb-icon icon="close-outline" pack="eva"></nb-icon>
              </button>
            </div>
          </nb-list-item>
        </nb-list>
      </nb-card-body>
    </nb-card>
    <nb-card class="card-list" *ngIf="devices.length">
      <nb-card-header>Devices</nb-card-header>
      <nb-card-body>
        <nb-list>
          <nb-list-item class="device" *ngFor="let device of devices">
            <nb-icon class="device-icon" [icon]="
            device.is_mobile == '1' ? 
            'smartphone-outline' : 
            'monitor-outline'
            " pack="eva">
            </nb-icon>
            <ion-label>
              <div>
                <strong>
                  {{ device.name }}
                  <span class="capitalize" *ngIf="device.platform != 'Browser'">
                    {{ device.platform }}
                  </span>
                  <ng-container *ngIf="device.platform == 'Browser'">
                    {{ device.browser }}
                  </ng-container>
                </strong>
                (<span class="capitalize">{{ device.os }}</span>{{ device.os_version != 'unknown' ? '/' + device.os_version : '' }})
              </div>
              <div *ngIf="device.app_id || device.is_native == '1'">
                <ng-container *ngIf="device.app_id">
                  App: {{ device.app_name }} ({{ device.app_id }})
                  <ng-container *ngIf="device.app_version">
                    - Version {{ device.app_version }}
                  </ng-container>
                  <ng-container *ngIf="device.is_native == '1'">
                    / Native
                    <ng-container *ngIf="device.is_virtual == '1'">
                      (Virtual)
                    </ng-container>
                  </ng-container>
                </ng-container>
                <ng-container *ngIf="!device.app_id">
                  <ng-container *ngIf="device.is_native == '1'">
                    Native
                    <ng-container *ngIf="device.is_virtual == '1'">
                      (Virtual)
                    </ng-container>
                  </ng-container>
                </ng-container>
              </div>
              <div *ngIf="device.model || device.manufacturer">
                Model: <span class="capitalize">{{ device.manufacturer }}</span> {{ device.model }}
              </div>
              <div>
                {{ device.update_at && 'Recent: ' + moment(device.update_at).format('LLL') }}
              </div>
              <div>
                {{ device.expire_at && 'Expired: ' + moment(device.expire_at).format('LLL') }}
              </div>
              <div>
                IP: {{ device.ip_recent }}
              </div>
            </ion-label>
            <div class="buttons">
              <button nbButton (click)="deleteDevice(device)">
                <nb-icon icon="trash-2-outline" pack="eva"></nb-icon>
              </button>
            </div>
          </nb-list-item>
        </nb-list>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-sm-4" *ngIf="data">
    <nb-card class="side-widget">
      <nb-card-body>
        <div class="row">
          <div class="col-sm-12">
            <nb-select hero fullWidth [(selected)]="data.active"
            [status]="data.active === true ? 'success' : data.active === false ? 'danger' : ''">
              <nb-option [value]="true">
                Active
              </nb-option>
              <nb-option [value]="false">
                Inactive
              </nb-option>
            </nb-select>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="form-component">
              <button type="submit" nbButton
              fullWidth
              (click)="submit()"
              [disabled]="!formGroup || !formGroup.valid || submitted || controlsLoading"
              [nbSpinner]="submitted" 
              nbSpinnerStatus="primary" 
              nbSpinnerSize="large">
                <nb-icon *ngIf="!controlsLoading" icon="save-outline" pack="eva"></nb-icon>
                {{ controlsLoading ? 'Preparing...' : 'Save' }}
              </button>
            </div>
          </div>
          <div class="col-sm-12">
            <div class="form-component">
              <button type="button" nbButton
              fullWidth
              [disabled]="submitted"
              (click)="navigate()">
                <nb-icon icon="close-outline" pack="eva"></nb-icon>
                Discard
              </button>
            </div>
          </div>
        </div>
      </nb-card-body>
      <nb-card-footer>
        <div class="row">
          <div class="col-sm-12">
            <button type="button" nbButton
            fullWidth
            [disabled]="!formGroup || !formGroup.valid || submitted"
            (click)="changePassword()">
              <nb-icon icon="lock-outline" pack="eva"></nb-icon>
              Change Password
            </button>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="form-component">
              <button type="button" nbButton
              fullWidth
              [disabled]="!formGroup || !formGroup.valid || submitted"
              (click)="resetPassword()">
                <nb-icon icon="refresh-outline" pack="eva"></nb-icon>
                Reset Password
              </button>
            </div>
          </div>
        </div>
      </nb-card-footer>
      <nb-card-footer *ngIf="data">
        <label class="label">Log</label>
        <div>
          <a>
            <em>Created</em><br />
            {{ moment(data.create_at).format('LLL') }}
          </a>
        </div>
      </nb-card-footer>
      <nb-card-footer *ngIf="data">
        <label class="label">Created by</label>
        <div>
          <a>
            {{ 
              data.user_id_data
              ? data.user_id_data.name 
                ? data.user_id_data.name + ' (ID: ' + data.user_id +')'
                : (
                    data.user_id_data.last_name 
                    ? data.user_id_data.last_name + ' (ID: ' + data.user_id +')'
                    : (
                      data.user_id_data.nick_name 
                      ? data.user_id_data.nick_name + ' (ID: ' + data.user_id +')'
                      : (
                        data.user_id_data.username 
                        ? data.user_id_data.username + ' (ID: ' + data.user_id +')'
                        : 'ID: ' + data.user_id
                      )
                    )
                  )
              : 'ID: ' + data.user_id
            }}
          </a>
        </div>
      </nb-card-footer>
    </nb-card>
    <nb-card class="card-list side-widget">
      <nb-card-body>
        <slim class="image-upload profile" 
        id="image"
        *ngIf="imageOption"
        [options]="imageOption">
          <input type="file" name="image" accept="image/*" />
        </slim>
      </nb-card-body>
    </nb-card>
    <nb-card class="card-list side-widget"
    *ngIf="data && members">
      <nb-card-header>
        Member of Groups
      </nb-card-header>
      <nb-card-body>
        <nb-list
        nbInfiniteList
        [threshold]="500"
        (bottomThreshold)="loadMembers()">
          <nb-list-item class="contact" *ngFor="let member of members">
            <nb-user [name]="member.name" [title]="member.title">
            </nb-user>
            <div class="buttons">
              <button nbButton (click)="removeMember(member)">
                <nb-icon icon="trash-2-outline" pack="eva"></nb-icon>
              </button>
            </div>
          </nb-list-item>
        </nb-list>
      </nb-card-body>
      <nb-card-footer>
        <div class="form-component">
          <nb-select fullWidth [(selected)]="groupSearch">
            <nb-option value="">
              &nbsp;
            </nb-option>
            <nb-option *ngFor="let item of groups" 
            [value]="item.id" 
            [disabled]="item.active !== true || item.disabled">
              {{ item.name }} (ID: {{ item.id }})
            </nb-option>
          </nb-select>
          <button type="button" nbButton
          [disabled]="submittedGroupAdd || !groupSearch || groupSearch == ''"
          [nbSpinner]="submittedGroupAdd" 
          nbSpinnerStatus="primary" 
          nbSpinnerSize="large"
          (click)="submitCreateMember()">
            <nb-icon class="action-icon" icon="plus-outline"></nb-icon>
            Add
          </button>
        </div>
      </nb-card-footer>
    </nb-card>
  </div>
</div>
<div class="card-loading" *ngIf="!loaded">
  Loading...
</div>

<ng-template #dialog let-data let-ref="dialogRef">
  <nb-card>
    <nb-card-header>
      Confirm Delete
    </nb-card-header>
    <nb-card-body>{{ data }}</nb-card-body>
    <nb-card-footer>
      <button nbButton hero (click)="ref.close(true)" status="danger">
        <nb-icon class="action-icon" icon="trash-2-outline"></nb-icon>
        Delete
      </button>
      <button nbButton (click)="ref.close(false)">
        <nb-icon class="action-icon" icon="close-outline"></nb-icon>
        Cancel
      </button>
    </nb-card-footer>
  </nb-card>
</ng-template>

<ng-template #dialogDiscard let-data let-ref="dialogRef">
  <nb-card>
    <nb-card-header>
      Confirm Discard
    </nb-card-header>
    <nb-card-body>{{ data }}</nb-card-body>
    <nb-card-footer>
      <button nbButton hero (click)="ref.close(true)" status="warning">
        <nb-icon class="action-icon" icon="checkmark-outline"></nb-icon>
        Discard
      </button>
      <button nbButton (click)="ref.close(false)">
        <nb-icon class="action-icon" icon="close-outline"></nb-icon>
        Cancel
      </button>
    </nb-card-footer>
  </nb-card>
</ng-template>

<ng-template #dialogResetPassword let-data let-ref="dialogRef">
  <nb-card>
    <nb-card-header>
      Confirm Reset Password
    </nb-card-header>
    <nb-card-body>{{ data }}</nb-card-body>
    <nb-card-footer>
      <button nbButton hero (click)="ref.close(true)" status="warning">
        <nb-icon class="action-icon" icon="checkmark-outline"></nb-icon>
        Reset
      </button>
      <button nbButton (click)="ref.close(false)">
        <nb-icon class="action-icon" icon="close-outline"></nb-icon>
        Cancel
      </button>
    </nb-card-footer>
  </nb-card>
</ng-template>

<ng-template #dialogChangePassword let-data let-ref="dialogRef">
  <nb-card>
    <nb-card-header>
      Change Password
    </nb-card-header>
    <nb-card-body>
      <form>
        <div class="form-group">
          <label for="modal-password-current" class="label">Current Password</label>
          <input #passwordCurrent type="password" id="modal-password-current" nbInput fullWidth placeholder="Current Password">
        </div>
        <div class="form-group">
          <label for="modal-password-new" class="label">New Password</label>
          <input #passwordNew type="password" id="modal-password-new" nbInput fullWidth placeholder="New Password">
        </div>
        <div class="form-group">
          <label for="modal-password-confirm" class="label">Confirm Password</label>
          <input #passwordConfirm type="password" id="modal-password-confirm" nbInput fullWidth placeholder="Confirm Password">
        </div>
      </form>
    </nb-card-body>
    <nb-card-footer>
      <button nbButton hero (click)="ref.close({
        submit: true,
        passwordCurrent: passwordCurrent.value,
        passwordNew: passwordNew.value,
        passwordConfirm: passwordConfirm.value
      })" status="warning">
        <nb-icon class="action-icon" icon="checkmark-outline"></nb-icon>
        Change
      </button>
      <button nbButton (click)="ref.close({
        submit: false
      })">
        <nb-icon class="action-icon" icon="close-outline"></nb-icon>
        Cancel
      </button>
    </nb-card-footer>
  </nb-card>
</ng-template>