<nb-card class="card-module" [ngClass]="active == 'list' ? 'card-list' : ''">
  <nb-card-header>
    <nb-actions size="small">
      <nb-action nbButton
      [ngClass]="active == 'list' ? 'active' : null"
      (click)="navigate()">
        <nb-icon class="action-icon" icon="people-outline"></nb-icon>
        <span>Group</span>
      </nb-action>
      <nb-action nbButton
      [ngClass]="active == 'edit' ? 'active' : null"
      *ngIf="active == 'edit'">
        <nb-icon class="action-icon" icon="edit-outline"></nb-icon>
        <span>Edit ID</span>
        <nb-icon icon="chevron-right-outline"></nb-icon>
        <span *ngIf="activeID">{{ activeID }}</span>
      </nb-action>
      <nb-action nbButton
      [ngClass]="active == 'create' ? 'active' : null"
      (click)="navigate('/create')"
      *ngIf="active != 'edit'">
        <nb-icon class="action-icon" icon="plus-outline"></nb-icon>
        <span>Create</span>
      </nb-action>
    </nb-actions>
    <nb-select hero [(selected)]="type" 
    [status]="type == 'active' ? 'success' : type == 'inactive' ? 'danger' : 'primary'"
    *ngIf="active == 'list'"
    (selectedChange)="onSelectStatus($event)">
      <nb-option *ngFor="let item of types" 
      [value]="item.value">
        {{ item.title }}
      </nb-option>
    </nb-select>
  </nb-card-header>
  <nb-card-body>
    <abstract-group-table
    [type]="type"
    *ngIf="active == 'list'">
    </abstract-group-table>
    <router-outlet *ngIf="active != 'list'"></router-outlet>
  </nb-card-body>
</nb-card>

<ng-template #dialog let-data let-ref="dialogRef">
  <nb-card>
    <nb-card-header>
      Confirm Exit
    </nb-card-header>
    <nb-card-body>{{ data }}</nb-card-body>
    <nb-card-footer>
      <button nbButton hero (click)="ref.close(true)" status="warning">
        <nb-icon class="action-icon" icon="alert-triangle-outline"></nb-icon>
        Exit
      </button>
      <button nbButton (click)="ref.close(false)">
        <nb-icon class="action-icon" icon="close-outline"></nb-icon>
        Cancel
      </button>
    </nb-card-footer>
  </nb-card>
</ng-template>