<div class="col-md-12 col-lg-12 col-xxxl-12" 
*ngIf="items">
  <nb-card class="card-list">
    <nb-card-header>Projects</nb-card-header>
    <nb-card-body>
      <nb-list>
        <nb-list-item *ngFor="let project of items; let i = index">
          <div class="col-6">
            {{ project.title }}
          </div>
          <div class="col-6 action">
            <button nbButton status="success" (click)="login(i)"
            *ngIf="currentProject == i && !currentProjectSession">
              <nb-icon icon="log-in-outline" pack="eva"></nb-icon>
              Login
            </button>
            <button nbButton status="warning" (click)="user.logout()"
            *ngIf="currentProject == i && currentProjectSession">
              <nb-icon icon="log-out-outline" pack="eva"></nb-icon>
              Logout
            </button>
            <button nbButton status="info" (click)="switch(i)"
            *ngIf="currentProject != i">
              <nb-icon icon="shuffle-2-outline" pack="eva"></nb-icon>
              Swith
            </button>
            <button nbButton status="danger" (click)="remove(i)">
              <nb-icon icon="trash-outline" pack="eva"></nb-icon>
              Remove
            </button>
          </div>
        </nb-list-item>
      </nb-list>
    </nb-card-body>
  </nb-card>
</div>