<nb-card>
  <nb-card-header>
    Document
  </nb-card-header>
  <nb-card-body>
    <nb-card>
      <nb-card-header>
        API Access
      </nb-card-header>
      <nb-card-body>
        Create Token in API management page and attach to headers of each request.
        <code>
          Headers
          <pre>{{ parameterHeaderAccess }}</pre>
        </code>
      </nb-card-body>
    </nb-card>
    <nb-card>
      <nb-card-header>
        Authorization
      </nb-card-header>
      <nb-card-body>
        Login Token will be retrieve from login, 
        will be use with modules those need authentication.
        Attached in headers of each request.
        <code>
          Headers
          <pre>{{ parameterHeaderAuthorization }}</pre>
        </code>
      </nb-card-body>
    </nb-card>
    <nb-card class="card-list">
      <nb-card-header>
        Modules
      </nb-card-header>
      <nb-card-body>
        <nb-list>
          <nb-list-item nbButton class="text-left" *ngFor="let module of modules"
          (click)="navigate(module.key)">
            {{ module.name }}
            <div *ngIf="module.description">
              <label class="label">
                {{ module.description }}
              </label>
            </div>
          </nb-list-item>
        </nb-list>
      </nb-card-body>
    </nb-card>
  </nb-card-body>
</nb-card>