button {
  width: 56px;
  height: 56px;
  margin: 3px;
  i {
    font-size: 24px;
  }
}

.icons {
  margin: 10px -3px 0 -3px;
  overflow: hidden;
}

nb-tabset {
  --tabset-content-padding: 0;
}

nb-tab {
  overflow: hidden !important;
}