<div>
  <input type="text" 
  nbInput 
  fullWidth
  placeholder="Search icon" 
  [(ngModel)]="search"
  (ngModelChange)="searchIcon()"/>
  <nb-tabset>
    <nb-tab tabTitle="Simple Line" *ngIf="iconsSimpleLine">
      <div class="icons">
        <ng-container *ngFor="let item of iconsSimpleLine">
          <ng-container
          *ngIf="filterIcon(search, item.icon) || filterIcon(search, item.name)">
            <button nbButton type="button"
            *ngIf="!selected || selected != item.icon"
            (click)="onSelect(item.icon)">
              <i [ngClass]="item.icon" [title]="item.name"></i>
            </button>
            <button nbButton type="button" hero
            *ngIf="selected && selected == item.icon"
            status="primary"
            (click)="onSelect(item.icon)">
              <i [ngClass]="item.icon" [title]="item.name"></i>
            </button>
          </ng-container>
        </ng-container>
      </div>
    </nb-tab>
    <nb-tab tabTitle="Eva" *ngIf="iconsEva">
      <div class="icons">
        <ng-container *ngFor="let item of iconsEva">
          <ng-container
          *ngIf="filterIcon(search, item.icon)">
            <button nbButton type="button"
            *ngIf="!selected || selected != item.icon"
            (click)="onSelect(item.icon)">
              <nb-icon [icon]="item.icon" pack="eva"></nb-icon>
            </button>
            <button nbButton type="button" hero
            *ngIf="selected && selected == item.icon"
            status="primary"
            (click)="onSelect(item.icon)">
              <nb-icon [icon]="item.icon" pack="eva"></nb-icon>
            </button>
          </ng-container>
        </ng-container>
      </div>
    </nb-tab>
    <nb-tab tabTitle="Font Awesome" *ngIf="iconsFontAwesome">
      <div class="icons">
        <ng-container *ngFor="let item of iconsFontAwesome">
          <ng-container
          *ngIf="filterIcon(search, item.icon) || filterIcon(search, item.name)">
            <button nbButton type="button"
            *ngIf="!selected || selected != item.icon"
            (click)="onSelect(item.icon)">
              <i [ngClass]="item.icon" [title]="item.name"></i>
            </button>
            <button nbButton type="button" hero
            *ngIf="selected && selected == item.icon"
            status="primary"
            (click)="onSelect(item.icon)">
              <i [ngClass]="item.icon" [title]="item.name"></i>
            </button>
          </ng-container>
        </ng-container>
      </div>
    </nb-tab>
  </nb-tabset>
</div>