<h1 id="title" class="title">Login</h1>
<p class="sub-title">Login to your project</p>

<nb-alert
[status]="(message && message.type) ? message.type : null"
*ngIf="message && message.content">
  {{ message.content }}
</nb-alert>

<form aria-labelledby="title"
[formGroup]="formGroup" 
(ngSubmit)="submit()"
*ngIf="formGroup">

  <div class="form-control-group">
    <label class="label" for="input-login">Login</label>
    <input 
    nbInput
    fullWidth
    name="login"
    id="input-login"
    placeholder="Username / Email address"
    fieldSize="large"
    autofocus
    formControlName="login">
  </div>

  <div class="form-control-group">
    <span class="label-with-link">
      <label class="label" for="input-password">Password</label>
      <a class="forgot-password caption-2" 
      routerLink="../request-password">
        Forgot Password?
      </a>
    </span>
    <input 
    nbInput
    fullWidth
    name="password"
    id="input-password"
    type="password"
    placeholder="Password"
    fieldSize="large"
    formControlName="password"
    autocomplete>
  </div>

  <div class="form-control-group accept-group">
    <nb-checkbox name="remmber_me"
    formControlName="rememberLogin">
      Remember me
    </nb-checkbox>
  </div>

  <button 
  nbButton
  type="submit"
  fullWidth
  status="primary"
  size="large"
  [disabled]="!formGroup || !formGroup.valid || submitted"
  [nbSpinner]="submitted" 
  nbSpinnerStatus="primary" 
  nbSpinnerSize="large">
    Log In
  </button>

</form>