<div class="list-files" [ngClass]="showPreview ? 'preview' : ''">
  <div class="list-file-wrapper" *ngIf="data && files">
    <button nbButton fullWidth class="list-file"
    (click)="exitFolder()"
    *ngIf="parent">
      <div class="list-file-icon list-file-icon-folder">
        <i class="fa-solid fa-arrow-left"></i>
      </div>
      <div class="list-file-name">
        Exit from "{{ parent }}"
      </div>
    </button>
    <ng-container *ngFor="let file of files">
      <button nbButton fullWidth class="list-file" 
      *ngIf="file.is_directory"
      (click)="selectFolder(file.sub, file.path)">
        <div class="list-file-icon list-file-icon-folder">
          <i class="fa-solid fa-folder"></i>
        </div>
        <div class="list-file-name">
          {{ file.name }}
        </div>
      </button>
    </ng-container>
    <ng-container *ngFor="let file of files">
      <button nbButton fullWidth class="list-file" 
      *ngIf="!file.is_directory && (!extensionAllowed.length || extensionAllowed.includes(file.extension))"
      (click)="onSelect(file)">
        <div class="list-file-icon list-file-icon-file">
          <i class="fa-solid" 
          [ngClass]="
          fileExtensions.image.includes(file.extension) ? 
          'fa-file-image'
          : fileExtensions.video.includes(file.extension) ? 
          'fa-file-video'
          : fileExtensions.audio.includes(file.extension) ? 
          'fa-file-audio'
          : fileExtensions.doc.includes(file.extension) ? 
          'fa-file-doc'
          : fileExtensions.pdf.includes(file.extension) ? 
          'fa-file-pdf'
          : fileExtensions.csv.includes(file.extension) ? 
          'fa-file-csv'
          : fileExtensions.word.includes(file.extension) ? 
          'fa-file-word'
          : fileExtensions.excel.includes(file.extension) ? 
          'fa-file-excel'
          : fileExtensions.powerpoint.includes(file.extension) ? 
          'fa-file-powerpoint'
          : fileExtensions.zipper.includes(file.extension) ? 
          'fa-file-zipper'
          : fileExtensions.code.includes(file.extension) ? 
          'fa-file-code'
          : 'fa-file'
          ">
          </i>
        </div>
        <div class="list-file-name">
          {{ file.name }}
        </div>
      </button>
    </ng-container>
  </div>
  <div class="list-file-preview" *ngIf="showPreview">
    <div class="list-file-preview-wrapper" *ngIf="preview">
      <img *ngIf="fileExtensions.image.includes(preview.extension)" [src]="preview.full_path" />
    </div>
  </div>
</div>