.list-file {
  position: relative;
  height: 48px;
  display: block;
  margin-bottom: 5px;
  .list-file-icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 48px;
    text-align: center;
    i {
      font-size: 24px;
      line-height: 48px;
    }
    &.list-file-icon-folder {
      color: var(--color-accent);
    }
    &.list-file-icon-file {
      color: var(--color-basic-600);
    }
  }
  .list-file-name {
    padding-left: 48px;
    text-align: left;
    text-transform: none;
  }
}

.list-file-wrapper {
  overflow-y: auto;
  padding: 5px;
  display: inline-block;
  width: 100%;
  height: 300px;
}

.list-file-preview {
  width: 200px;
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  @media screen and (min-width: 768px) {
    display: inline-block;
  }
  .list-file-preview-wrapper {
    width: calc(200px - 20px);
    height: 100%;
    margin-left: 20px;
    position: absolute;
    img {
      max-width: calc(100% - 10px);
      max-height: calc(100% - 10px);
      left: 50%;
      top: 50%;
      transform: translate3d(-50%, -50%, 0);
      object-fit: contain;
      background: transparent;
      position: absolute;
      border-radius: 5px;
    }
  }
}

.list-files {
  height: 300px;
  max-width: calc(100vw - 70px);
  position: relative;
  width: 450px;
  .list-file-preview {
    display: none !important;
  }
  &.preview {
    width: 600px;
    .list-file-wrapper {
      @media screen and (min-width: 768px) {
        width: calc(100% - 200px);
      }
    }
    .list-file-preview {
      display: none !important;
      @media screen and (min-width: 768px) {
        display: inline-block !important;
      }
    }
  }
}