<div class="row" *ngIf="loaded">
  <div class="col-sm-8">
    <form 
    name="form_api" 
    [formGroup]="formGroup" 
    (ngSubmit)="submit()"
    *ngIf="formGroup">
      <div class="form-group">
        <label for="group_name" class="label">Title</label>
        <input type="text" 
        nbInput 
        fullWidth 
        id="group_name" 
        placeholder="API Title"
        formControlName="title" />
      </div>
      <div class="form-group">
        <label for="api_scope" class="label">Scope</label>
        <nb-select fullWidth
        id="api_scope" 
        multiple
        formControlName="scope">
          <nb-option *ngFor="let scope of scopes"
          [value]="scope.id">
            {{ scope.name }} (ID: {{ scope.id }})
          </nb-option>
        </nb-select>
      </div>
      <div class="form-group">
        <label for="api_type" class="label">Scope</label>
        <nb-select fullWidth
        id="api_type" 
        formControlName="type">
          <nb-option value="private">
            Private
          </nb-option>
          <nb-option value="public">
            Public
          </nb-option>
        </nb-select>
      </div>
    </form>
  </div>
  <div class="col-sm-4">
    <nb-card class="side-widget">
      <nb-card-body>
        <div class="row">
          <div class="col-sm-12">
            <nb-select hero fullWidth [(selected)]="active"
            [status]="active === true ? 'success' : active === false ? 'danger' : ''">
              <nb-option [value]="true">
                Active
              </nb-option>
              <nb-option [value]="false">
                Inactive
              </nb-option>
            </nb-select>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="form-component">
              <button type="submit" nbButton
              fullWidth
              (click)="submit()"
              [disabled]="!formGroup || !formGroup.valid || submitted"
              [nbSpinner]="submitted" 
              nbSpinnerStatus="primary" 
              nbSpinnerSize="large">
                <nb-icon icon="save-outline" pack="eva"></nb-icon>
                Create
              </button>
            </div>
          </div>
          <div class="col-sm-12">
            <div class="form-component">
              <button type="button" nbButton
              fullWidth
              [disabled]="submitted"
              (click)="navigate()">
                <nb-icon icon="close-outline" pack="eva"></nb-icon>
                Discard
              </button>
            </div>
          </div>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>
<div class="card-loading" *ngIf="!loaded">
  Loading...
</div>

<ng-template #dialog let-data let-ref="dialogRef">
  <nb-card>
    <nb-card-header>
      Confirm Delete
    </nb-card-header>
    <nb-card-body>{{ data }}</nb-card-body>
    <nb-card-footer>
      <button nbButton hero (click)="ref.close(true)" status="danger">
        <nb-icon class="action-icon" icon="trash-2-outline"></nb-icon>
        Delete
      </button>
      <button nbButton (click)="ref.close(false)">
        <nb-icon class="action-icon" icon="close-outline"></nb-icon>
        Cancel
      </button>
    </nb-card-footer>
  </nb-card>
</ng-template>

<ng-template #dialogDiscard let-data let-ref="dialogRef">
  <nb-card>
    <nb-card-header>
      Confirm Discard
    </nb-card-header>
    <nb-card-body>{{ data }}</nb-card-body>
    <nb-card-footer>
      <button nbButton hero (click)="ref.close(true)" status="warning">
        <nb-icon class="action-icon" icon="checkmark-outline"></nb-icon>
        Discard
      </button>
      <button nbButton (click)="ref.close(false)">
        <nb-icon class="action-icon" icon="close-outline"></nb-icon>
        Cancel
      </button>
    </nb-card-footer>
  </nb-card>
</ng-template>