<div class="row" *ngIf="loaded">
  <div class="col-sm-8">
    <form 
    name="form_group" 
    [formGroup]="formGroup" 
    (ngSubmit)="submit()"
    *ngIf="formGroup">
      <div class="form-group">
        <label for="group_name" class="label">Name</label>
        <input type="text" 
        nbInput 
        fullWidth 
        id="group_name" 
        placeholder="Group Name"
        formControlName="name" />
      </div>
    </form>
    <nb-card class="card-list top">
      <nb-card-header>Controls</nb-card-header>
      <nb-card-body>
        <ng2-smart-table #controller 
        [settings]="controlsSettings" 
        [source]="controls"
        [ngClass]="controlsLoading ? 'hidden' : ''">
        </ng2-smart-table>
        <nb-list
        *ngIf="controlsLoading">
          <nb-list-item>
            Loading...
          </nb-list-item>
        </nb-list>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-sm-4" *ngIf="data">
    <nb-card class="side-widget">
      <nb-card-body>
        <div class="row">
          <div class="col-sm-12">
            <nb-select hero fullWidth [(selected)]="data.active"
            [status]="data.active === true ? 'success' : data.active === false ? 'danger' : ''">
              <nb-option [value]="true">
                Active
              </nb-option>
              <nb-option [value]="false">
                Inactive
              </nb-option>
            </nb-select>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="form-component">
              <button type="submit" nbButton
              fullWidth
              (click)="submit()"
              [disabled]="!formGroup || !formGroup.valid || submitted || controlsLoading"
              [nbSpinner]="submitted" 
              nbSpinnerStatus="primary" 
              nbSpinnerSize="large">
                <nb-icon *ngIf="!controlsLoading" icon="save-outline" pack="eva"></nb-icon>
                {{ controlsLoading ? 'Preparing...' : 'Save' }}
              </button>
            </div>
          </div>
          <div class="col-sm-12">
            <div class="form-component">
              <button type="button" nbButton
              fullWidth
              [disabled]="submitted"
              (click)="navigate()">
                <nb-icon icon="close-outline" pack="eva"></nb-icon>
                Discard
              </button>
            </div>
          </div>
        </div>
      </nb-card-body>
      <nb-card-footer *ngIf="data">
        <label class="label">Log</label>
        <div>
          <a>
            <em>Created</em><br />
            {{ moment(data.create_at).format('LLL') }}
          </a>
        </div>
      </nb-card-footer>
      <nb-card-footer *ngIf="data">
        <label class="label">Created by</label>
        <div>
          <a>
            {{ 
              data.user_id_data
              ? data.user_id_data.name 
                ? data.user_id_data.name + ' (ID: ' + data.user_id +')'
                : (
                    data.user_id_data.last_name 
                    ? data.user_id_data.last_name + ' (ID: ' + data.user_id +')'
                    : (
                      data.user_id_data.nick_name 
                      ? data.user_id_data.nick_name + ' (ID: ' + data.user_id +')'
                      : (
                        data.user_id_data.username 
                        ? data.user_id_data.username + ' (ID: ' + data.user_id +')'
                        : 'ID: ' + data.user_id
                      )
                    )
                  )
              : 'ID: ' + data.user_id
            }}
          </a>
        </div>
      </nb-card-footer>
    </nb-card>
    <nb-card class="card-list side-widget"
    *ngIf="data && members">
      <nb-card-header>
        Members
      </nb-card-header>
      <nb-card-body>
        <nb-list
        nbInfiniteList
        [threshold]="500"
        (bottomThreshold)="loadMembers()">
          <nb-list-item class="contact" *ngFor="let member of members.data">
            <nb-user [name]="member.name" [title]="member.title" [picture]="member.picture">
            </nb-user>
            <div class="buttons">
              <button nbButton (click)="removeMember(member)">
                <nb-icon icon="trash-2-outline" pack="eva"></nb-icon>
              </button>
            </div>
          </nb-list-item>
        </nb-list>
      </nb-card-body>
      <nb-card-footer>
        <div class="form-component">
          <input type="text" 
          nbInput 
          fullWidth
          id="group_user_add" 
          placeholder="Username / Email / User ID"
          [(ngModel)]="userSearch" />
          <button type="button" nbButton
          [disabled]="submittedUserAdd || !userSearch || userSearch == ''"
          [nbSpinner]="submittedUserAdd" 
          nbSpinnerStatus="primary" 
          nbSpinnerSize="large"
          (click)="submitCreateMember()">
            <nb-icon class="action-icon" icon="plus-outline"></nb-icon>
            Add
          </button>
        </div>
      </nb-card-footer>
    </nb-card>
  </div>
</div>
<div class="card-loading" *ngIf="!loaded">
  Loading...
</div>

<ng-template #dialog let-data let-ref="dialogRef">
  <nb-card>
    <nb-card-header>
      Confirm Delete
    </nb-card-header>
    <nb-card-body>{{ data }}</nb-card-body>
    <nb-card-footer>
      <button nbButton hero (click)="ref.close(true)" status="danger">
        <nb-icon class="action-icon" icon="trash-2-outline"></nb-icon>
        Delete
      </button>
      <button nbButton (click)="ref.close(false)">
        <nb-icon class="action-icon" icon="close-outline"></nb-icon>
        Cancel
      </button>
    </nb-card-footer>
  </nb-card>
</ng-template>

<ng-template #dialogDiscard let-data let-ref="dialogRef">
  <nb-card>
    <nb-card-header>
      Confirm Discard
    </nb-card-header>
    <nb-card-body>{{ data }}</nb-card-body>
    <nb-card-footer>
      <button nbButton hero (click)="ref.close(true)" status="warning">
        <nb-icon class="action-icon" icon="checkmark-outline"></nb-icon>
        Discard
      </button>
      <button nbButton (click)="ref.close(false)">
        <nb-icon class="action-icon" icon="close-outline"></nb-icon>
        Cancel
      </button>
    </nb-card-footer>
  </nb-card>
</ng-template>