.card-icon-browser {
  width: 607px;
  height: 600px;
  max-width: calc(100vw - 50px);
  max-height: calc(100vh - 50px);
  margin-bottom: 0;
}

.input-icon {
  width: 56px;
  height: 56px;
  font-size: 24px !important;
  &.input-icon-inline {
    width: 40px;
    height: 40px;
    font-size: 16px !important;
  }
}

.table-list {
  mat-list-option {
    border-radius: 0.25rem;
    border: 1px solid #e4e9f2;
    margin-bottom: 8px;
    .mat-ripple {
      border-radius: 0.25rem;
    }
  }
}

.select-control {
  margin-bottom: 20px;
}

.form-announcement {
  font-size: 12px;
  border: 1px solid var(--color-primary-600);
  border-radius: 5px;
  padding: 10px 20px;
  margin-top: 20px;
  margin-bottom: 10px;
  background: var(--color-primary-500);
  color: var(--text-control-color);
  font-weight: 700;
  text-align: center;
  nb-icon {
    line-height: 14px;
    margin-right: 6px;
  }
}

.list-sort-item {
  padding: 10px;
  &.disabled {
    background: var(--color-basic-default);
    .content-title {
      opacity: 0.5;
    }
  }
  .content {
    max-width: calc(100% - 80px);
    .content-title {
      font-weight: bold;
    }
    .label {
      display: block;
    }
  }
}

.card-header-form {
  display: flex;
  padding: 8px 1.5rem;
  .form-title {
    display: inline-block;
    line-height: 40px;
    width: 100%;
    flex: auto;
  }
  .buttons {
    display: flex;
    flex: 1;
  }
}