<ng2-smart-table [settings]="settings" [source]="groups"
(edit)="openEdit($event)"
(delete)="delete($event, 'name')"
*ngIf="loaded">
</ng2-smart-table>
<div class="card-loading" *ngIf="!loaded">
  Loading...
</div>

<ng-template #dialog let-data let-ref="dialogRef">
  <nb-card>
    <nb-card-header>
      Confirm Delete
    </nb-card-header>
    <nb-card-body>{{ data }}</nb-card-body>
    <nb-card-footer>
      <button nbButton hero (click)="ref.close(true)" status="danger">
        <nb-icon class="action-icon" icon="trash-2-outline"></nb-icon>
        Delete
      </button>
      <button nbButton (click)="ref.close(false)">
        <nb-icon class="action-icon" icon="close-outline"></nb-icon>
        Cancel
      </button>
    </nb-card-footer>
  </nb-card>
</ng-template>