<!-- <div class="row" *ngIf="loaded">
  <div class="col-sm-8">
    <form 
    name="form_api" 
    [formGroup]="formGroup" 
    (ngSubmit)="submit()"
    *ngIf="formGroup && data">
      <div class="form-group">
        <label for="api_title" class="label">Title</label>
        <input type="text" 
        nbInput 
        fullWidth 
        id="api_title" 
        placeholder="API Title"
        formControlName="title" />
      </div>
      <div class="form-group">
        <label for="api_scope" class="label">Scope</label>
        <nb-select fullWidth
        id="api_scope" 
        multiple
        formControlName="scope">
          <nb-option *ngFor="let scope of scopes"
          [value]="scope.id">
            {{ scope.name }} (ID: {{ scope.id }})
          </nb-option>
        </nb-select>
      </div>
      <div class="form-group">
        <label for="api_type" class="label">Type</label>
        <nb-select fullWidth
        id="api_type" 
        formControlName="type">
          <nb-option value="private">
            Private
          </nb-option>
          <nb-option value="public">
            Public
          </nb-option>
        </nb-select>
      </div>
      <nb-card class="top">
        <nb-card-header>
          <nb-icon icon="lock-outline" class="card-header-icon"></nb-icon>
          Credential
        </nb-card-header>
        <nb-card-body>
          <div class="form-group" *ngIf="data.key">
            <label for="api_key" class="label">Key</label>
            <div class="form-group-flex">
              <div class="form-group-flex-wrapper">
                <input type="text" 
                nbInput 
                fullWidth 
                readonly
                id="api_key" 
                placeholder="API Key"
                [value]="data.key" />
                <button type="button" nbButton (click)="copy('Key', data.key)"
                class="form-group-flex-1 icon-only end">
                  <nb-icon icon="copy-outline" pack="eva">
                  </nb-icon>
                </button>
              </div>
            </div>
          </div>
          <div class="form-group" *ngIf="data.secret">
            <label for="api_secret" class="label">Secret</label>
            <div class="form-group-flex">
              <div class="form-group-flex-wrapper">
                <input [type]="displaySecret ? 'text' : 'password'" 
                nbInput 
                readonly
                fullWidth 
                id="api_secret" 
                placeholder="API Secret"
                [value]="data.secret" />
                <button type="button" nbButton (click)="copy('Secret', data.secret)"
                class="form-group-flex-1 icon-only end" *ngIf="displaySecret">
                  <nb-icon icon="copy-outline" pack="eva">
                  </nb-icon>
                </button>
                <button type="button" nbButton (click)="toggleDisplaySecret()"
                class="form-group-flex-1 icon-only end">
                  <nb-icon [icon]="displaySecret ? 'eye-outline' : 'eye-off-2-outline'"
                  pack="eva"
                  [attr.aria-label]="displaySecret ? 'hide password' : 'show password'">
                  </nb-icon>
                </button>
              </div>
            </div>
          </div>
          <div class="form-group" *ngIf="data.token">
            <label for="api_token" class="label">Token</label>
            <div class="form-group-flex">
              <div class="form-group-flex-wrapper">
                <input type="text" 
                nbInput 
                fullWidth 
                readonly
                id="api_token" 
                placeholder="API Token"
                [value]="data.token" />
                <button type="button" nbButton (click)="copy('Token', data.token)"
                class="form-group-flex-1 icon-only end">
                  <nb-icon icon="copy-outline" pack="eva">
                  </nb-icon>
                </button>
              </div>
            </div>
          </div>
        </nb-card-body>
      </nb-card>
    </form>
  </div>
  <div class="col-sm-4" *ngIf="data">
    <nb-card class="side-widget">
      <nb-card-body>
        <div class="row">
          <div class="col-sm-12">
            <nb-select hero fullWidth [(selected)]="data.active"
            [status]="data.active === true ? 'success' : data.active === false ? 'danger' : ''">
              <nb-option [value]="true">
                Active
              </nb-option>
              <nb-option [value]="false">
                Inactive
              </nb-option>
            </nb-select>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="form-component">
              <button type="submit" nbButton
              fullWidth
              (click)="submit()"
              [disabled]="!formGroup || !formGroup.valid || submitted"
              [nbSpinner]="submitted" 
              nbSpinnerStatus="primary" 
              nbSpinnerSize="large">
                <nb-icon icon="save-outline" pack="eva"></nb-icon>
                Save
              </button>
            </div>
          </div>
          <div class="col-sm-12">
            <div class="form-component">
              <button type="button" nbButton
              fullWidth
              [disabled]="submitted"
              (click)="navigate()">
                <nb-icon icon="close-outline" pack="eva"></nb-icon>
                Discard
              </button>
            </div>
          </div>
        </div>
      </nb-card-body>
      <nb-card-footer *ngIf="data">
        <label class="label">Log</label>
        <div>
          <a>
            <em>Created</em><br />
            {{ moment(data.create_at).format('LLL') }}
          </a>
        </div>
      </nb-card-footer>
      <nb-card-footer *ngIf="data">
        <label class="label">Created by</label>
        <div>
          <a>
            {{ 
              data.user_id_data
              ? data.user_id_data.name 
                ? data.user_id_data.name + ' (ID: ' + data.user_id +')'
                : (
                    data.user_id_data.last_name 
                    ? data.user_id_data.last_name + ' (ID: ' + data.user_id +')'
                    : (
                      data.user_id_data.nick_name 
                      ? data.user_id_data.nick_name + ' (ID: ' + data.user_id +')'
                      : (
                        data.user_id_data.username 
                        ? data.user_id_data.username + ' (ID: ' + data.user_id +')'
                        : 'ID: ' + data.user_id
                      )
                    )
                  )
              : 'ID: ' + data.user_id
            }}
          </a>
        </div>
      </nb-card-footer>
    </nb-card>
  </div>
</div>
<div class="card-loading" *ngIf="!loaded">
  Loading...
</div>

<ng-template #dialog let-data let-ref="dialogRef">
  <nb-card>
    <nb-card-header>
      Confirm Delete
    </nb-card-header>
    <nb-card-body>{{ data }}</nb-card-body>
    <nb-card-footer>
      <button nbButton hero (click)="ref.close(true)" status="danger">
        <nb-icon class="action-icon" icon="trash-2-outline"></nb-icon>
        Delete
      </button>
      <button nbButton (click)="ref.close(false)">
        <nb-icon class="action-icon" icon="close-outline"></nb-icon>
        Cancel
      </button>
    </nb-card-footer>
  </nb-card>
</ng-template>

<ng-template #dialogDiscard let-data let-ref="dialogRef">
  <nb-card>
    <nb-card-header>
      Confirm Discard
    </nb-card-header>
    <nb-card-body>{{ data }}</nb-card-body>
    <nb-card-footer>
      <button nbButton hero (click)="ref.close(true)" status="warning">
        <nb-icon class="action-icon" icon="checkmark-outline"></nb-icon>
        Discard
      </button>
      <button nbButton (click)="ref.close(false)">
        <nb-icon class="action-icon" icon="close-outline"></nb-icon>
        Cancel
      </button>
    </nb-card-footer>
  </nb-card>
</ng-template> -->