// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/

$abstract-console-blue: (
  50: #c1eaff,
  100: #b2e5ff,
  200: #a2e0ff,
  300: #93dbff,
  400: #83d5ff,
  500: #74d0ff,
  600: #64cbff,
  700: #5ab7e6,
  800: #50a2cc,
  900: #468eb3,
  A100: #3c7a99,
  A200: #326680,
  A400: #285166,
  A700: #1e3d4c,
  contrast: (
    50: white,
    100: white,
    200: white,
    300: white,
    400: white,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: white,
    A200: white,
    A400: white,
    A700: white,
  )
);

$abstract-console-primary: mat.define-palette($abstract-console-blue);
$abstract-console-accent: mat.define-palette($abstract-console-blue);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$abstract-console-theme: mat.define-light-theme((
  color: (
    primary: $abstract-console-primary,
    accent: $abstract-console-accent
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($abstract-console-theme);