<div class="row" *ngIf="loaded">
  <div class="col-sm-8">
    <form 
    name="form_module" 
    [formGroup]="formGroup" 
    (ngSubmit)="submit()"
    *ngIf="formGroup">
      <div class="form-group">
        <label for="module_name" class="label">Name <span class="danger">*</span></label>
        <input type="text" 
        nbInput 
        fullWidth 
        id="module_name" 
        placeholder="Name"
        formControlName="name" />
      </div>
      <div class="form-group">
        <label for="module_description" class="label">Description</label>
        <textarea 
        rows="5" 
        nbInput 
        fullWidth 
        id="module_description"
        formControlName="description">
        </textarea>
      </div>
      <nb-card class="top">
        <nb-card-header>
          <nb-icon icon="settings-2-outline" class="card-header-icon"></nb-icon>
          Configuration
        </nb-card-header>
        <nb-card-body>
          <div class="form-group">
            <label for="module_service" class="label">Service Endpoint</label>
            <div class="form-group-flex">
              <div class="form-group-flex-wrapper">
                <input type="text" 
                nbInput 
                fullWidth 
                id="module_service" 
                placeholder="Service Endpoint of module"
                formControlName="service"
                class="form-group-flex-auto" />
                <button nbButton type="button" hero (click)="openFilesService()"
                class="form-group-flex-1 icon-only end">
                  <nb-icon icon="folder-outline"></nb-icon>
                </button>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="module_key" class="label">Key</label>
            <input type="text" 
            nbInput 
            fullWidth 
            id="module_key" 
            placeholder="Key"
            formControlName="key" />
            <div class="form-group-helper">
              Unique phrase which will be used as prefix for files of module in backend mode
            </div>
          </div>
          <div class="form-group">
            <label for="module_database_table" class="label">Database Table Name</label>
            <input type="text" 
            nbInput 
            fullWidth 
            id="module_database_table" 
            placeholder="Database Table Name"
            formControlName="database_table" />
            <div class="form-group-helper">
              Unigue table name in database of module
            </div>
          </div>
          <div class="form-group">
            <label for="module_authentication" class="label">
              Authentication
            </label>
            <mat-slide-toggle color="primary" formControlName="authentication"
            id="module_authentication">
              Require
            </mat-slide-toggle>
            <div class="form-group-helper">
              Users require authentication to access this module
            </div>
          </div>
          <div class="form-group">
            <label for="module_file_hash" class="label">
              File Hash
            </label>
            <mat-slide-toggle color="primary" formControlName="file_hash"
            id="module_file_hash">
              Enable
            </mat-slide-toggle>
            <div class="form-group-helper">
              Create token for files to access
            </div>
          </div>
          <div class="form-group">
            <label for="module_default_controls" class="label">
              Default User Control
            </label>
            <div>
              <nb-checkbox class="block" value="view"
              [checked]="formGroup.value.default_controls.includes('view')"
              (change)="onDefaultControlChange($event, 'view')">
                View
              </nb-checkbox>
              <nb-checkbox class="block" value="create"
              [checked]="formGroup.value.default_controls.includes('create')"
              (change)="onDefaultControlChange($event, 'create')">
                Create
              </nb-checkbox>
              <nb-checkbox class="block" value="update"
              [checked]="formGroup.value.default_controls.includes('update')"
              (change)="onDefaultControlChange($event, 'update')">
                Update
              </nb-checkbox>
              <nb-checkbox class="block" value="delete"
              [checked]="formGroup.value.default_controls.includes('delete')"
              (change)="onDefaultControlChange($event, 'delete')">
                Delete
              </nb-checkbox>
            </div>
            <div class="form-group-helper">
              Every user can do these behaviors
            </div>
          </div>
        </nb-card-body>
      </nb-card>
      <nb-card>
        <nb-card-header>
          <nb-icon icon="monitor-outline" class="card-header-icon"></nb-icon>
          Front-end Settings
        </nb-card-header>
        <nb-card-body>
          <div class="form-group">
            <label for="module_page_template" class="label">
              Front-end Inner Page Default Template
            </label>
            <div class="form-group-flex">
              <div class="form-group-flex-wrapper">
                <input type="text" 
                nbInput 
                fullWidth 
                id="module_page_template" 
                placeholder="Template of inner page created by module"
                formControlName="page_template"
                class="form-group-flex-auto" />
                <button nbButton type="button" hero (click)="openFilesTemplate()"
                class="form-group-flex-1 icon-only end">
                  <nb-icon icon="folder-outline"></nb-icon>
                </button>
              </div>
              <div class="form-group-helper">
                Selected front-end template will be active to inner page created by module which was enabled page component
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="module_page_parent_link_key" class="label">
              Front-end Parent Link Field
            </label>
            <nb-select fullWidth
            formControlName="page_parent_link_key"
            id="module_page_parent_link_key">
              <nb-option value="">
                Disabled
              </nb-option>
              <nb-option value="" disabled="">
                -
              </nb-option>
              <nb-option value="id">
                ID
              </nb-option>
              <nb-option value="title">
                Title
              </nb-option>
              <nb-option value="create_at">
                Date Created
              </nb-option>
              <nb-option value="active">
                Active
              </nb-option>
              <nb-option value="user_id">
                User ID
              </nb-option>
            </nb-select>
            <div class="form-group-helper">
              Front-end parent link field for inner page selected inside a content
            </div>
          </div>
          <div class="form-group">
            <label for="module_individual_page_parent_link" class="label">
              Individual Front-end Page Parent Link
            </label>
            <mat-slide-toggle color="primary" formControlName="individual_page_parent_link"
            id="module_individual_page_parent_link">
              Enable
            </mat-slide-toggle>
          </div>
          <div class="form-group">
            <label for="module_page_id" class="label">
              Individual Front-end Page Parent Link
            </label>
            <nb-select fullWidth
            formControlName="page_id"
            id="module_page_id">
              <nb-option [value]="false">
                Disabled
              </nb-option>
              <nb-option [value]="false" disabled>
                -
              </nb-option>
              <nb-option *ngFor="let page of pages" [value]="page.id">
                {{page.title}} (ID: {{page.id}})
              </nb-option>
            </nb-select>
            <div class="form-group-helper">
              Requires if enabled Individual Front-end Page Parent Link. Selected page will be used as individual page and parent link for this module
            </div>
          </div>
        </nb-card-body>
      </nb-card>
      <nb-card>
        <nb-card-header>
          <nb-icon icon="image-outline" class="card-header-icon"></nb-icon>
          Image Upload Settings
        </nb-card-header>
        <nb-card-body>
          <div class="form-group">
            <div class="label-container">
              <label for="module_image_crop_quality" class="label label-name">
                Image Quality
              </label>
              <label class="label label-value">
                {{formGroup.value.image_crop_quality}}%
              </label>
            </div>
            <mat-slider id="module_image_crop_quality" thumbLabel 
            class="full-width" color="primary"
            min="5" max="100" step="5"
            formControlName="image_crop_quality">
            </mat-slider>
            <nb-card>
              <nb-card-header>
                <nb-icon icon="collapse-outline" class="card-header-icon"></nb-icon>
                Thumbnail
              </nb-card-header>
              <nb-card-body>
                <div class="row">
                  <div class="col-sm-12 col-md-6">
                    <div class="form-group">
                      <label for="module_image_crop_thumbnail" class="label">
                        Generate Thumbnail
                      </label>
                      <mat-slide-toggle color="primary" formControlName="image_crop_thumbnail"
                      id="module_image_crop_thumbnail">
                        Enable
                      </mat-slide-toggle>
                    </div>
                  </div>
                  <div class="col-sm-12 col-md-6">
                    <div class="form-group">
                      <label for="module_image_crop_thumbnail_aspectratio" class="label">
                        Aspect Ratio of Thumbnail
                      </label>
                      <mat-slide-toggle color="primary" formControlName="image_crop_thumbnail_aspectratio"
                      id="module_image_crop_thumbnail_aspectratio">
                        Keep Original
                      </mat-slide-toggle>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12 col-md-6">
                    <div class="form-group">
                      <label for="module_image_crop_thumbnail_width" class="label">
                        Width (Pixel)
                      </label>
                      <input type="text" 
                      nbInput 
                      fullWidth 
                      id="module_image_crop_thumbnail_width" 
                      formControlName="image_crop_thumbnail_width" />
                    </div>
                  </div>
                  <div class="col-sm-12 col-md-6">
                    <div class="form-group">
                      <label for="module_image_crop_thumbnail_height" class="label">
                        Height (Pixel)
                      </label>
                      <input type="text" 
                      nbInput 
                      fullWidth 
                      id="module_image_crop_thumbnail_height" 
                      formControlName="image_crop_thumbnail_height" />
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="label-container">
                    <label for="module_image_crop_thumbnail_quality" class="label label-name">
                      Thumbnail Quality
                    </label>
                    <label class="label label-value">
                      {{formGroup.value.image_crop_thumbnail_quality}}%
                    </label>
                  </div>
                  <mat-slider id="module_image_crop_thumbnail_quality" thumbLabel 
                  class="full-width" color="primary"
                  min="5" max="100" step="5"
                  formControlName="image_crop_thumbnail_quality">
                  </mat-slider>
                </div>
              </nb-card-body>
            </nb-card>
            <nb-card>
              <nb-card-header>
                <nb-icon icon="expand-outline" class="card-header-icon"></nb-icon>
                Large Thumbnail
              </nb-card-header>
              <nb-card-body>
                <div class="row">
                  <div class="col-sm-12 col-md-6">
                    <div class="form-group">
                      <label for="module_image_crop_large" class="label">
                        Generate Large Thumbnail
                      </label>
                      <mat-slide-toggle color="primary" formControlName="image_crop_large"
                      id="module_image_crop_large">
                        Enable
                      </mat-slide-toggle>
                    </div>
                  </div>
                  <div class="col-sm-12 col-md-6">
                    <div class="form-group">
                      <label for="module_image_crop_large_aspectratio" class="label">
                        Aspect Ratio of Large Thumbnail
                      </label>
                      <mat-slide-toggle color="primary" formControlName="image_crop_large_aspectratio"
                      id="module_image_crop_large_aspectratio">
                        Keep Original
                      </mat-slide-toggle>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12 col-md-6">
                    <div class="form-group">
                      <label for="module_image_crop_large_width" class="label">
                        Width (Pixel)
                      </label>
                      <input type="text" 
                      nbInput 
                      fullWidth 
                      id="module_image_crop_large_width" 
                      formControlName="image_crop_large_width" />
                    </div>
                  </div>
                  <div class="col-sm-12 col-md-6">
                    <div class="form-group">
                      <label for="module_image_crop_large_height" class="label">
                        Height (Pixel)
                      </label>
                      <input type="text" 
                      nbInput 
                      fullWidth 
                      id="module_image_crop_large_height" 
                      formControlName="image_crop_large_height" />
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="label-container">
                    <label for="module_image_crop_large_quality" class="label label-name">
                      Large Thumbnail Quality
                    </label>
                    <label class="label label-value">
                      {{formGroup.value.image_crop_large_quality}}%
                    </label>
                  </div>
                  <mat-slider id="module_image_crop_large_quality" thumbLabel 
                  class="full-width" color="primary"
                  min="5" max="100" step="5"
                  formControlName="image_crop_large_quality">
                  </mat-slider>
                </div>
              </nb-card-body>
            </nb-card>
          </div>
        </nb-card-body>
      </nb-card>
      <nb-card>
        <nb-card-header>
          <nb-icon icon="browser-outline" class="card-header-icon"></nb-icon>
          Console
        </nb-card-header>
        <nb-card-body>
          <div class="form-group">
            <label for="module_link" class="label">Link</label>
            <input type="text" 
            nbInput 
            fullWidth 
            id="module_link" 
            placeholder="Link"
            formControlName="link"
            />
            <div class="form-group-helper">
              Leave blank if Module was generated by Abstract
            </div>
          </div>
          <div class="form-group">
            <label for="module_icon" class="label">Icon</label>
            <input type="hidden" 
            nbInput 
            id="module_icon" 
            placeholder="Icon"
            formControlName="icon" />
            <div>
              <button nbButton type="button" hero (click)="openIcon()" class="input-icon">
                <i [ngClass]="formGroup.value.icon ? formGroup.value.icon : 'fa-solid fa-ban'"></i>
              </button>
            </div>
          </div>
          <div class="form-group">
            <label for="module_category" class="label">Category</label>
            <input type="text" 
            nbInput 
            fullWidth 
            id="module_category" 
            placeholder="Category"
            formControlName="category" />
          </div>
          <div class="form-group">
            <label for="module_subject" class="label">Subject</label>
            <div class="form-group-flex">
              <div class="form-group-flex-wrapper">
                <button nbButton type="button" hero (click)="openSubjectIcon()"
                class="form-group-flex-1 icon-only input-icon input-icon-inline">
                  <i [ngClass]="formGroup.value.subject_icon ? formGroup.value.subject_icon : 'fa-solid fa-ban'"></i>
                </button>
                <input type="text" 
                nbInput 
                fullWidth 
                id="module_subject" 
                placeholder="Subject"
                formControlName="subject"
                class="form-group-flex-auto" />
              </div>
            </div>
          </div>
        </nb-card-body>
      </nb-card>
    </form>
  </div>
  <div class="col-sm-4">
    <nb-card class="side-widget">
      <nb-card-body>
        <div class="row">
          <div class="col-sm-12">
            <nb-select hero fullWidth [(selected)]="active"
            [status]="active === true ? 'success' : active === false ? 'danger' : ''">
              <nb-option [value]="true">
                Active
              </nb-option>
              <nb-option [value]="false">
                Inactive
              </nb-option>
            </nb-select>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="form-component">
              <button type="submit" nbButton
              fullWidth
              (click)="submit()"
              [disabled]="!formGroup || !formGroup.valid || submitted"
              [nbSpinner]="submitted" 
              nbSpinnerStatus="primary" 
              nbSpinnerSize="large">
                <nb-icon icon="save-outline" pack="eva"></nb-icon>
                Create
              </button>
            </div>
          </div>
          <div class="col-sm-12">
            <div class="form-component">
              <button type="button" nbButton
              fullWidth
              [disabled]="submitted"
              (click)="navigate()">
                <nb-icon icon="close-outline" pack="eva"></nb-icon>
                Discard
              </button>
            </div>
          </div>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>
<div class="card-loading" *ngIf="!loaded">
  Loading...
</div>

<ng-template #dialog let-data let-ref="dialogRef">
  <nb-card>
    <nb-card-header>
      Confirm Delete
    </nb-card-header>
    <nb-card-body>{{ data }}</nb-card-body>
    <nb-card-footer>
      <button nbButton hero (click)="ref.close(true)" status="danger">
        <nb-icon class="action-icon" icon="trash-2-outline"></nb-icon>
        Delete
      </button>
      <button nbButton (click)="ref.close(false)">
        <nb-icon class="action-icon" icon="close-outline"></nb-icon>
        Cancel
      </button>
    </nb-card-footer>
  </nb-card>
</ng-template>

<ng-template #dialogDiscard let-data let-ref="dialogRef">
  <nb-card>
    <nb-card-header>
      Confirm Discard
    </nb-card-header>
    <nb-card-body>{{ data }}</nb-card-body>
    <nb-card-footer>
      <button nbButton hero (click)="ref.close(true)" status="warning">
        <nb-icon class="action-icon" icon="checkmark-outline"></nb-icon>
        Discard
      </button>
      <button nbButton (click)="ref.close(false)">
        <nb-icon class="action-icon" icon="close-outline"></nb-icon>
        Cancel
      </button>
    </nb-card-footer>
  </nb-card>
</ng-template>

<ng-template #dialogIcon let-data let-ref="dialogRef">
  <nb-card class="card-icon-browser">
    <nb-card-header>
      Icon
    </nb-card-header>
    <nb-card-body>
      <abstract-icon 
      [selected]="formGroup.value.icon"
      (select)="ref.close($event)">
      </abstract-icon>
    </nb-card-body>
    <nb-card-footer>
      <button nbButton (click)="ref.close(false)">
        <nb-icon class="action-icon" icon="close-outline"></nb-icon>
        Cancel
      </button>
    </nb-card-footer>
  </nb-card>
</ng-template>

<ng-template #dialogSubjectIcon let-data let-ref="dialogRef">
  <nb-card class="card-icon-browser">
    <nb-card-header>
      Subject Icon
    </nb-card-header>
    <nb-card-body>
      <abstract-icon 
      [selected]="formGroup.value.subject_icon"
      (select)="ref.close($event)">
      </abstract-icon>
    </nb-card-body>
    <nb-card-footer>
      <button nbButton (click)="ref.close(false)">
        <nb-icon class="action-icon" icon="close-outline"></nb-icon>
        Cancel
      </button>
    </nb-card-footer>
  </nb-card>
</ng-template>

<ng-template #dialogServiceFiles let-data let-ref="dialogRef">
  <nb-card *ngIf="data && formGroup">
    <nb-card-header>
      Service Files
    </nb-card-header>
    <nb-card-body>
      <abstract-media-browser 
      [data]="data" 
      [showPreview]="false"
      [selectedFilePath]="formGroup.value.service"
      [extensionAllowed]="['html', 'php', 'aspx', 'xml', 'py']"
      (select)="ref.close($event.path)">
      </abstract-media-browser>
    </nb-card-body>
    <nb-card-footer>
      <button nbButton (click)="ref.close(false)">
        <nb-icon class="action-icon" icon="close-outline"></nb-icon>
        Cancel
      </button>
    </nb-card-footer>
  </nb-card>
</ng-template>

<ng-template #dialogTemplateFiles let-data let-ref="dialogRef">
  <nb-card *ngIf="data && formGroup">
    <nb-card-header>
      Template Files
    </nb-card-header>
    <nb-card-body>
      <abstract-media-browser 
      [data]="data" 
      [showPreview]="false"
      [selectedFilePath]="formGroup.value.page_template"
      [extensionAllowed]="['html', 'php', 'aspx', 'xml', 'py']"
      (select)="ref.close($event.path)">
      </abstract-media-browser>
    </nb-card-body>
    <nb-card-footer>
      <button nbButton (click)="ref.close(false)">
        <nb-icon class="action-icon" icon="close-outline"></nb-icon>
        Cancel
      </button>
    </nb-card-footer>
  </nb-card>
</ng-template>