<div class="row" *ngIf="loaded">
  <div class="col-sm-8">
    <form 
    name="form_user" 
    [formGroup]="formGroup" 
    (ngSubmit)="submit()"
    *ngIf="formGroup">
      <div class="form-group">
        <label for="user_username" class="label">Username</label>
        <input type="text" 
        nbInput 
        fullWidth 
        id="user_username" 
        placeholder="Username"
        formControlName="username"
        autocomplete="new-username" />
      </div>
      <div class="form-group">
        <label for="password" class="label">Password</label>
        <input type="password" 
        nbInput 
        fullWidth 
        id="password" 
        placeholder="Password"
        formControlName="password"
        autocomplete="new-password" />
      </div>
      <div class="form-group">
        <label for="password_confirm" class="label">Confirm Password</label>
        <input type="password" 
        nbInput 
        fullWidth 
        id="password_confirm" 
        placeholder="Confirm Password"
        formControlName="passwordConfirm"
        autocomplete="new-password" />
      </div>
      <div class="form-group">
        <label for="user_name" class="label">Name</label>
        <input type="text" 
        nbInput 
        fullWidth 
        id="user_name" 
        placeholder="Name"
        formControlName="name"
        autocomplete="new-user_name" />
      </div>
      <div class="form-group">
        <label for="user_last_name" class="label">Last Name</label>
        <input type="text" 
        nbInput 
        fullWidth 
        id="user_last_name" 
        placeholder="Last Name"
        formControlName="last_name"
        autocomplete="new-user_last_name" />
      </div>
      <div class="form-group">
        <label for="user_nick_name" class="label">Nick Name</label>
        <input type="text" 
        nbInput 
        fullWidth 
        id="user_nick_name" 
        placeholder="Nick Name"
        formControlName="nick_name"
        autocomplete="new-user_nick_name" />
      </div>
      <div class="form-group">
        <label for="user_email" class="label">Email</label>
        <input type="text" 
        nbInput 
        fullWidth 
        id="user_email" 
        placeholder="Email"
        formControlName="email"
        autocomplete="new-email" />
      </div>
      <div class="form-group">
        <label for="user_phone" class="label">Phone</label>
        <input type="text" 
        nbInput 
        fullWidth 
        id="user_phone" 
        placeholder="Phone"
        formControlName="phone"
        autocomplete="new-phone" />
      </div>
    </form>
  </div>
  <div class="col-sm-4">
    <nb-card class="side-widget">
      <nb-card-body>
        <div class="row">
          <div class="col-sm-12">
            <nb-select hero fullWidth [(selected)]="active"
            [status]="active === true ? 'success' : active === false ? 'danger' : ''">
              <nb-option [value]="true">
                Active
              </nb-option>
              <nb-option [value]="false">
                Inactive
              </nb-option>
            </nb-select>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="form-component">
              <button type="submit" nbButton
              fullWidth
              (click)="submit()"
              [disabled]="!formGroup || !formGroup.valid || submitted"
              [nbSpinner]="submitted" 
              nbSpinnerStatus="primary" 
              nbSpinnerSize="large">
                <nb-icon icon="save-outline" pack="eva"></nb-icon>
                Create
              </button>
            </div>
          </div>
          <div class="col-sm-12">
            <div class="form-component">
              <button type="button" nbButton
              fullWidth
              [disabled]="submitted"
              (click)="navigate()">
                <nb-icon icon="close-outline" pack="eva"></nb-icon>
                Discard
              </button>
            </div>
          </div>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>
<div class="card-loading" *ngIf="!loaded">
  Loading...
</div>

<ng-template #dialog let-data let-ref="dialogRef">
  <nb-card>
    <nb-card-header>
      Confirm Delete
    </nb-card-header>
    <nb-card-body>{{ data }}</nb-card-body>
    <nb-card-footer>
      <button nbButton hero (click)="ref.close(true)" status="danger">
        <nb-icon class="action-icon" icon="trash-2-outline"></nb-icon>
        Delete
      </button>
      <button nbButton (click)="ref.close(false)">
        <nb-icon class="action-icon" icon="close-outline"></nb-icon>
        Cancel
      </button>
    </nb-card-footer>
  </nb-card>
</ng-template>

<ng-template #dialogDiscard let-data let-ref="dialogRef">
  <nb-card>
    <nb-card-header>
      Confirm Discard
    </nb-card-header>
    <nb-card-body>{{ data }}</nb-card-body>
    <nb-card-footer>
      <button nbButton hero (click)="ref.close(true)" status="warning">
        <nb-icon class="action-icon" icon="checkmark-outline"></nb-icon>
        Discard
      </button>
      <button nbButton (click)="ref.close(false)">
        <nb-icon class="action-icon" icon="close-outline"></nb-icon>
        Cancel
      </button>
    </nb-card-footer>
  </nb-card>
</ng-template>