<div class="header-container">
  <div class="logo-container">
    <a (click)="toggleSidebar()" href="#" class="sidebar-toggle">
      <nb-icon icon="menu-outline"></nb-icon>
    </a>
    <a class="logo" href="#" (click)="navigateHome()">
      <img src="assets/images/logo.svg" />
    </a>
  </div>
</div>

<div class="header-container">
  <nb-actions size="small">
    <nb-action class="control-item" *ngIf="projectOptions && currentProject">
      <nb-select class="select-project"
      [(selected)]="currentProject"
      (selectedChange)="switchProject($event)">
        <nb-option *ngFor="let project of projectOptions; let i = index"
        [value]="i">
          {{ project.title }}
        </nb-option>
      </nb-select>
    </nb-action>
    <nb-action class="user-action" *nbIsGranted="['view', 'user']" >
      <nb-user 
      nbContextMenuTag="user-menu"
      [nbContextMenu]="userMenu"
      [onlyPicture]="userPictureOnly"
      [name]="account?.name"
      [picture]="account?.picture">
      </nb-user>
    </nb-action>
  </nb-actions>
</div>
