<nb-select [(selected)]="value" fullWidth size="medium"
(selectedChange)="update()">
  <nb-option *ngFor="let item of modules" 
  [value]="item.id">
    {{ item.name }} (ID: {{ item.id }})
  </nb-option>
</nb-select>