<h1 id="title" class="title">Setup</h1>
<p class="sub-title">Setup your Console</p>

<nb-alert
[status]="(message && message.type) ? message.type : null"
*ngIf="message && message.content">
  {{ message.content }}
</nb-alert>

<form aria-labelledby="title" 
[formGroup]="formGroup" 
(ngSubmit)="submit()"
*ngIf="formGroup">

  <nb-stepper orientation="horizontal">
    <nb-step [label]="labelOne">

      <ng-template #labelOne>Project</ng-template>

      <div class="form-control-group">
        <label class="label" for="input-title">
          Project
        </label>
        <input 
        nbInput
        name="title"
        id="input-title"
        fullWidth
        placeholder="Project title"
        fieldSize="large"
        autofocus
        formControlName="title">
      </div>

      <div class="step-navigation">
        <button nbButton nbStepperNext 
        [disabled]="formGroup.controls['title'].errors">
          Next
        </button>
      </div>

    </nb-step>
    <nb-step [label]="labelTwo">
      <ng-template #labelTwo>Hosting</ng-template>
    
      <div class="form-control-group">
        <label class="label" for="input-host-name">
          Host Endpoint
        </label>
        <input 
        nbInput
        name="host_name"
        id="input-host-name"
        fullWidth
        placeholder="Ex. https://abstract.patiparnne.com/"
        fieldSize="large"
        autofocus
        formControlName="host">
      </div>

      <div class="step-navigation">
        <button nbButton nbStepperPrevious>Back</button>
        <button nbButton nbStepperNext 
        [disabled]="
        formGroup.controls['host'].errors
        ">
          Next
        </button>
      </div>

    </nb-step>
    <nb-step [label]="labelThree">
      
      <ng-template #labelThree>Environment</ng-template>
    
      <div class="form-control-group">
        <label class="label" for="input-version">
          API core vesion
        </label>
        <nb-select 
        name="version"
        id="input-version"
        placeholder="Select API core version" 
        fullWidth
        size="large"
        formControlName="version">
          <nb-option value="1.0">1.0</nb-option>
        </nb-select>
      </div>

      <div class="step-navigation">
        <button nbButton nbStepperPrevious>Back</button>
        <button nbButton nbStepperNext 
        [disabled]="formGroup.controls['version'].errors">
          Next
        </button>
      </div>

    </nb-step>
    <nb-step [label]="labelFour">

      <ng-template #labelFour>Credentials</ng-template>
    
      <div class="form-control-group">
        <label class="label" for="input-credential-key">
          Key
        </label>
        <input 
        nbInput
        name="credential_key"
        id="input-credential-key"
        fullWidth
        placeholder="Api key"
        fieldSize="large"
        autofocus
        formControlName="credentialKey">
      </div>
    
      <div class="form-control-group">
        <label class="label" for="input-credential-secret">
          Secret
        </label>
        <input 
        nbInput
        fullWidth
        name="credential_secret"
        id="input-credential-secret"
        type="password"
        placeholder="API secret"
        fieldSize="large"
        autofocus
        formControlName="credentialSecret">
      </div>

      <div class="step-navigation">
        <button nbButton nbStepperPrevious>Back</button>
        <button nbButton nbStepperNext>Next</button>
      </div>
      
    </nb-step>
    <nb-step [label]="labelFive">

      <ng-template #labelFive>Encryption</ng-template>
    
      <div class="form-control-group">
        <nb-checkbox 
        name="encryption_general_key_enable"
        formControlName="encryptionGeneralKeyEnable">
          General Encryption
        </nb-checkbox>
      </div>
    
      <div class="form-control-group"
      [hidden]="!formGroup.value.encryptionGeneralKeyEnable">
        <label class="label" for="input-encryption-general-algorithm">
          General Algorithm
        </label>
        <input 
        nbInput
        fullWidth
        name="encryption_general_algorithm"
        id="input-encryption-general-algorithm"
        fieldSize="large"
        autofocus
        placeholder="Ex. HS512"
        formControlName="encryptionGeneralAlgorithm"
        [required]="formGroup.value.encryptionGeneralKeyEnable">
      </div>
    
      <div class="form-control-group"
      [hidden]="!formGroup.value.encryptionGeneralKeyEnable">
        <label class="label" for="input-encryption-general-key">
          General Key
        </label>
        <input 
        nbInput
        fullWidth
        name="encryption_general_key"
        id="input-encryption-general-key"
        fieldSize="large"
        autofocus
        formControlName="encryptionGeneralKey"
        [required]="formGroup.value.encryptionGeneralKeyEnable">
      </div>
    
      <div class="form-control-group">
        <nb-checkbox 
        name="encryption_ssl_public_key_enable"
        formControlName="encryptionSSLKeyEnable">
          SSL Encryption
        </nb-checkbox>
      </div>
    
      <div class="form-control-group"
      [hidden]="!formGroup.value.encryptionSSLKeyEnable">
        <label class="label" for="input-encryption-ssl-algorithm">
          SSL Algorithm
        </label>
        <input 
        nbInput
        fullWidth
        name="encryption_ssl_algorithm"
        id="input-encryption-ssl-algorithm"
        fieldSize="large"
        autofocus
        placeholder="Ex. RS256"
        formControlName="encryptionSSLAlgorithm"
        [required]="formGroup.value.encryptionSSLKeyEnable">
      </div>
    
      <div class="form-control-group"
      [hidden]="!formGroup.value.encryptionSSLKeyEnable">
        <label class="label" for="input-encryption-ssl-public-key">
          SSL Public Key
        </label>
        <textarea 
        rows="5" 
        nbInput 
        fullWidth 
        name="encryption_ssl_public_key"
        id="input-encryption-ssl-public-key"
        formControlName="encryptionSSLPublicKey"
        [required]="formGroup.value.encryptionSSLKeyEnable">
        </textarea>
      </div>

      <div class="step-navigation">
        <button nbButton nbStepperPrevious>Back</button>
        <button nbButton type="submit" status="primary"
        [disabled]="!formGroup || !formGroup.valid || submitted"
        [nbSpinner]="submitted" 
        nbSpinnerStatus="primary" 
        nbSpinnerSize="small">
          Done
        </button>
      </div>
      
    </nb-step>
  </nb-stepper>
  
</form>