@import '../@theme/styles/themes';

@include nb-install-component() {
  .accordion-container:first-child {
    margin-bottom: nb-theme(card-margin-bottom);
  }
}

::ng-deep {
  nb-stepper {
    .step-content {

      .step-navigation {
        text-align: center;
      }

      nb-select {
        .select-button {
          margin: 0;
        }
      }
    
      button {
        cursor: pointer;
        margin: 0.5rem;
      }

    }
  }
}