<nb-card class="card-module" [ngClass]="active == 'list' ? 'card-list' : ''">
  <nb-card-header>
    <nb-actions size="small">
      <nb-action nbButton
      [ngClass]="active == 'list' ? 'active' : null"
      (click)="navigate()">
        <nb-icon class="action-icon" icon="grid-outline"></nb-icon>
        <span>Module</span>
      </nb-action>
      <nb-action nbButton
      [ngClass]="active == 'edit' ? 'active' : null"
      *ngIf="active == 'edit'">
        <nb-icon class="action-icon" icon="edit-outline"></nb-icon>
        <span>Edit ID</span>
        <nb-icon icon="chevron-right-outline"></nb-icon>
        <span *ngIf="activeID">{{ activeID }}</span>
      </nb-action>
      <nb-action nbButton
      [ngClass]="active == 'create' ? 'active' : null"
      (click)="navigate('/create')"
      *ngIf="active != 'edit'">
        <nb-icon class="action-icon" icon="plus-outline"></nb-icon>
        <span>Create</span>
      </nb-action>
      <nb-action nbButton
      (click)="openSort()"
      *ngIf="active == 'list'">
        <nb-icon class="action-icon" icon="list-outline"></nb-icon>
        <span>Sort</span>
      </nb-action>
    </nb-actions>
    <nb-select hero [(selected)]="type" 
    [value]="type"
    [status]="type == 'active' ? 'success' : type == 'inactive' ? 'danger' : 'primary'"
    *ngIf="active == 'list'"
    (selectedChange)="onSelectStatus($event)">
      <nb-option *ngFor="let item of types" 
      [value]="item.value">
        {{ item.title }}
      </nb-option>
    </nb-select>
  </nb-card-header>
  <nb-card-body>
    <abstract-table
    [type]="type"
    *ngIf="active == 'list'">
    </abstract-table>
    <router-outlet *ngIf="active != 'list'"></router-outlet>
  </nb-card-body>
</nb-card>

<ng-template #dialogSort let-data let-ref="dialogRef">
  <nb-card class="card-list" *ngIf="data">
    <nb-card-header>
      Sort Module
    </nb-card-header>
    <nb-card-body>
      <div class="list-sort-modal">
        <div cdkDropList class="list-sort-container in-modal" 
        (cdkDropListDropped)="sort($event, data)"
        *ngIf="data.length">
          <div class="list-sort-item" cdkDrag
          [ngClass]="item.active !== true ? 'disabled' : ''"
          *ngFor="let item of data">
            <div class="content">
              <div class="content-title text-ellipsis">
                {{ item.name }}
              </div>
              <label class="label text-ellipsis" *ngIf="parseInt(item.id) <= 100">
                No effect on official module
              </label>
            </div>
          </div>
        </div>
      </div>
    </nb-card-body>
    <nb-card-footer>
      <button nbButton (click)="ref.close(false)">
        <nb-icon class="action-icon" icon="close-outline"></nb-icon>
        Close
      </button>
    </nb-card-footer>
  </nb-card>
</ng-template>

<ng-template #dialog let-data let-ref="dialogRef">
  <nb-card>
    <nb-card-header>
      Confirm Exit
    </nb-card-header>
    <nb-card-body>{{ data }}</nb-card-body>
    <nb-card-footer>
      <button nbButton hero (click)="ref.close(true)" status="warning">
        <nb-icon class="action-icon" icon="alert-triangle-outline"></nb-icon>
        Exit
      </button>
      <button nbButton (click)="ref.close(false)">
        <nb-icon class="action-icon" icon="close-outline"></nb-icon>
        Cancel
      </button>
    </nb-card-footer>
  </nb-card>
</ng-template>