<div class="row" *ngIf="loaded">
  <div class="col-sm-8">
    <form 
    name="form_abstract" 
    [formGroup]="formGroup" 
    (ngSubmit)="submit()"
    *ngIf="formGroup">
      <div class="form-group">
        <label for="abstracts_name" class="label">Name <span class="danger">*</span></label>
        <input type="text" 
        nbInput 
        fullWidth 
        id="abstracts_name" 
        placeholder="Name"
        formControlName="name" />
      </div>
      <div class="form-group">
        <label for="abstracts_key" class="label">Key</label>
        <input type="text" 
        nbInput 
        fullWidth 
        id="abstracts_key" 
        placeholder="Key to use as database table name, variable"
        formControlName="key" />
      </div>
      <div class="form-group">
        <label for="abstracts_description" class="label">Description</label>
        <textarea 
        rows="5" 
        nbInput 
        fullWidth 
        id="abstracts_description"
        formControlName="description">
        </textarea>
      </div>
      <div class="form-group">
        <nb-checkbox class="block" value="yes"
        formControlName="data_sortable">
        Sortable
        </nb-checkbox>
      </div>
      <nb-card class="top">
        <nb-card-header>
          <i class="fa-solid fa-database card-header-icon"></i>
          Database
        </nb-card-header>
        <nb-card-body>
          <div class="form-group">
            <label for="abstracts_database_engine" class="label">
              Engine <span class="danger">*</span>
            </label>
            <nb-select fullWidth
            formControlName="database_engine"
            id="abstracts_database_engine">
              <nb-option value="InnoDB">
                InnoDB
              </nb-option>
              <nb-option value="MyISAM">
                MyISAM
              </nb-option>
            </nb-select>
            <div class="form-group-helper">
              Engine of SQL database
            </div>
          </div>
          <div class="form-group">
            <label for="abstracts_database_collation" class="label">
              Database Collation
            </label>
            <input type="text" 
            nbInput 
            fullWidth 
            id="abstracts_database_collation"
            formControlName="database_collation" />
            <div class="form-group-helper">
              Default is utf8mb4_general_ci, leave this field blank if want to use default value
            </div>
          </div>
        </nb-card-body>
      </nb-card>
      <nb-card>
        <nb-card-header>
          <nb-icon icon="browser-outline" class="card-header-icon"></nb-icon>
          Built-in Component
        </nb-card-header>
        <nb-card-body>
          <div class="form-group">
            <nb-checkbox class="block" value="yes"
            formControlName="component_module">
            Module
            </nb-checkbox>
            <div class="form-group-helper">
              Component of Module will be integrated
            </div>
          </div>
          <div class="form-group">
            <nb-checkbox class="block" value="yes"
            formControlName="component_group">
            Group
            </nb-checkbox>
            <div class="form-group-helper">
              Component of Group will be integrated
            </div>
          </div>
          <div class="form-group">
            <nb-checkbox class="block" value="yes"
            formControlName="component_user">
            User
            </nb-checkbox>
            <div class="form-group-helper">
              Component of User will be integrated
            </div>
          </div>
          <div class="form-group">
            <nb-checkbox class="block" value="yes"
            formControlName="component_language">
            Language
            </nb-checkbox>
            <div class="form-group-helper">
              Component of Language will be integrated
            </div>
          </div>
          <div class="form-group">
            <nb-checkbox class="block" value="yes"
            formControlName="component_page">
            Page
            </nb-checkbox>
            <div class="form-group-helper">
              Component of Page will be integrated
            </div>
          </div>
          <div class="form-group">
            <nb-checkbox class="block" value="yes"
            formControlName="component_media">
            Media
            </nb-checkbox>
            <div class="form-group-helper">
              Component of Media will be integrated
            </div>
          </div>
          <div class="form-group">
            <nb-checkbox class="block" value="yes"
            formControlName="component_commerce">
            Commerce
            </nb-checkbox>
            <div class="form-group-helper">
              Component of Commerce will be integrated
            </div>
          </div>
        </nb-card-body>
      </nb-card>
      <nb-card>
        <nb-card-header>
          <nb-icon icon="monitor-outline" class="card-header-icon"></nb-icon>
          Front-end Settings
        </nb-card-header>
        <nb-card-body>
          <div class="form-group">
            <label for="abstracts_template" class="label">
              Front-end Inner Page Default Template
            </label>
            <div class="form-group-flex">
              <div class="form-group-flex-wrapper">
                <input type="text" 
                nbInput 
                fullWidth 
                id="abstracts_template" 
                placeholder="Template of inner page created by module"
                formControlName="template"
                class="form-group-flex-auto" />
                <button nbButton type="button" hero (click)="openFilesTemplate()"
                class="form-group-flex-1 icon-only end">
                  <nb-icon icon="folder-outline"></nb-icon>
                </button>
              </div>
              <div class="form-group-helper">
                Selected front-end template will be active to inner page created by module which was enabled page component
              </div>
            </div>
          </div>
        </nb-card-body>
      </nb-card>
      <nb-card>
        <nb-card-header>
          <nb-icon icon="browser-outline" class="card-header-icon"></nb-icon>
          Console
        </nb-card-header>
        <nb-card-body>
          <div class="form-group">
            <label for="abstracts_icon" class="label">Icon</label>
            <input type="hidden" 
            nbInput 
            id="abstracts_icon" 
            placeholder="Icon"
            formControlName="icon" />
            <div>
              <button nbButton type="button" hero (click)="openIcon()" class="input-icon">
                <i [ngClass]="formGroup.value.icon ? formGroup.value.icon : 'fa-solid fa-ban'"></i>
              </button>
            </div>
          </div>
          <div class="form-group">
            <label for="abstracts_category" class="label">Category</label>
            <input type="text" 
            nbInput 
            fullWidth 
            id="abstracts_category" 
            placeholder="Category"
            formControlName="category" />
          </div>
          <div class="form-group">
            <label for="abstracts_subject" class="label">Subject</label>
            <div class="form-group-flex">
              <div class="form-group-flex-wrapper">
                <button nbButton type="button" hero (click)="openSubjectIcon()"
                class="form-group-flex-1 icon-only input-icon input-icon-inline">
                  <i [ngClass]="formGroup.value.subject_icon ? formGroup.value.subject_icon : 'fa-solid fa-ban'"></i>
                </button>
                <input type="text" 
                nbInput 
                fullWidth 
                id="abstracts_subject" 
                placeholder="Subject"
                formControlName="subject"
                class="form-group-flex-auto" />
              </div>
            </div>
          </div>
        </nb-card-body>
      </nb-card>
    </form>
  </div>
  <div class="col-sm-4">
    <nb-card class="side-widget">
      <nb-card-body>
        <div class="row">
          <div class="col-sm-12">
            <nb-select hero fullWidth [(selected)]="active"
            [status]="active === true ? 'success' : active === false ? 'danger' : ''">
              <nb-option [value]="true">
                Active
              </nb-option>
              <nb-option [value]="false">
                Inactive
              </nb-option>
            </nb-select>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="form-component">
              <button type="submit" nbButton
              fullWidth
              (click)="submit()"
              [disabled]="!formGroup || !formGroup.valid || submitted"
              [nbSpinner]="submitted" 
              nbSpinnerStatus="primary" 
              nbSpinnerSize="large">
                <nb-icon icon="save-outline" pack="eva"></nb-icon>
                Save
              </button>
            </div>
          </div>
          <div class="col-sm-12">
            <div class="form-component">
              <button type="button" nbButton
              fullWidth
              [disabled]="submitted"
              (click)="navigate()">
                <nb-icon icon="close-outline" pack="eva"></nb-icon>
                Discard
              </button>
            </div>
          </div>
        </div>
      </nb-card-body>
      <nb-card-footer *ngIf="data">
        <label class="label">Log</label>
        <div>
          <a>
            <em>Created</em><br />
            {{ moment(data.create_at).format('LLL') }}
          </a>
        </div>
      </nb-card-footer>
      <nb-card-footer *ngIf="data">
        <label class="label">Created by</label>
        <div>
          <a>
            {{ 
              data.user_id_data
              ? data.user_id_data.name 
                ? data.user_id_data.name + ' (ID: ' + data.user_id +')'
                : (
                    data.user_id_data.last_name 
                    ? data.user_id_data.last_name + ' (ID: ' + data.user_id +')'
                    : (
                      data.user_id_data.nick_name 
                      ? data.user_id_data.nick_name + ' (ID: ' + data.user_id +')'
                      : (
                        data.user_id_data.username 
                        ? data.user_id_data.username + ' (ID: ' + data.user_id +')'
                        : 'ID: ' + data.user_id
                      )
                    )
                  )
              : 'ID: ' + data.user_id
            }}
          </a>
        </div>
      </nb-card-footer>
    </nb-card>
  </div>
</div>
<div class="card-loading" *ngIf="!loaded">
  Loading...
</div>

<ng-template #dialogDiscard let-data let-ref="dialogRef">
  <nb-card>
    <nb-card-header>
      Confirm Discard
    </nb-card-header>
    <nb-card-body>{{ data }}</nb-card-body>
    <nb-card-footer>
      <button nbButton hero (click)="ref.close(true)" status="warning">
        <nb-icon class="action-icon" icon="checkmark-outline"></nb-icon>
        Discard
      </button>
      <button nbButton (click)="ref.close(false)">
        <nb-icon class="action-icon" icon="close-outline"></nb-icon>
        Cancel
      </button>
    </nb-card-footer>
  </nb-card>
</ng-template>

<ng-template #dialogIcon let-data let-ref="dialogRef">
  <nb-card class="card-icon-browser">
    <nb-card-header>
      Icon
    </nb-card-header>
    <nb-card-body>
      <abstract-icon 
      [selected]="formGroup.value.icon"
      (select)="ref.close($event)">
      </abstract-icon>
    </nb-card-body>
    <nb-card-footer>
      <button nbButton (click)="ref.close(false)">
        <nb-icon class="action-icon" icon="close-outline"></nb-icon>
        Cancel
      </button>
    </nb-card-footer>
  </nb-card>
</ng-template>

<ng-template #dialogSubjectIcon let-data let-ref="dialogRef">
  <nb-card class="card-icon-browser">
    <nb-card-header>
      Subject Icon
    </nb-card-header>
    <nb-card-body>
      <abstract-icon 
      [selected]="formGroup.value.subject_icon"
      (select)="ref.close($event)">
      </abstract-icon>
    </nb-card-body>
    <nb-card-footer>
      <button nbButton (click)="ref.close(false)">
        <nb-icon class="action-icon" icon="close-outline"></nb-icon>
        Cancel
      </button>
    </nb-card-footer>
  </nb-card>
</ng-template>

<ng-template #dialogTemplateFiles let-data let-ref="dialogRef">
  <nb-card *ngIf="data && formGroup">
    <nb-card-header>
      Template Files
    </nb-card-header>
    <nb-card-body>
      <abstract-media-browser 
      [data]="data" 
      [showPreview]="false"
      [selectedFilePath]="formGroup.value.page_template"
      [extensionAllowed]="['html', 'php', 'aspx', 'xml', 'py']"
      (select)="ref.close($event.path)">
      </abstract-media-browser>
    </nb-card-body>
    <nb-card-footer>
      <button nbButton (click)="ref.close(false)">
        <nb-icon class="action-icon" icon="close-outline"></nb-icon>
        Cancel
      </button>
    </nb-card-footer>
  </nb-card>
</ng-template>