.card-icon-browser {
  width: 607px;
  height: 600px;
  max-width: calc(100vw - 50px);
  max-height: calc(100vh - 50px);
  margin-bottom: 0;
}

.input-icon {
  width: 56px;
  height: 56px;
  font-size: 24px !important;
  &.input-icon-inline {
    width: 40px;
    height: 40px;
    font-size: 16px !important;
  }
}