.badge {
  margin-right: 5px;
  &.method {
    text-transform: uppercase;
  }
}

span {
  &.danger {
    color: var(--color-danger);
  }
}

h2 {
  margin: 0;
}

h3 {
  font-weight: bold;
  margin: 0;
}

h4 {
  font-weight: bold;
  margin: 0;
}

nb-accordion {
  margin: 10px 0;
}

table {
  width: 100%;
  td {
    vertical-align: top;
    padding: 10px;
    &:first-of-type {
      border-right: 1px solid var(--card-divider-color);
      width: fit-content;
    }
    &:last-of-type {
      width: 100%;
    }
    h3 {
      white-space: nowrap;
    }
  }
  tr {
    &:not(:last-child) {
      border-bottom: 1px solid var(--card-divider-color);
    }
  }
}

pre {
  margin: 0;
}

.top {
  margin: 20px 0;
}

.header-description {
  margin-left: 10px;
}