<nb-card *ngIf="data">
  <nb-card-header>
    Document
  </nb-card-header>
  <nb-card-body>

    <nb-card>
      <nb-card-header>
        <h2 class="title">{{ data.name }}</h2>
      </nb-card-header>
      <nb-card-body>
        <div>
          <h3>Base URL</h3>
          <p>
            {{ server }}service/{{ data.service }}?method=
          </p>
          <h3>Alias (Required URL Rewrting)</h3>
          <p>
            {{ server }}api/{{ getServiceAlias(data.service) }}/
          </p>
        </div>
        <div>
          <h3>Authentication</h3>
          <p>
            {{ data.authentication == '1' ? 'Requires' : 'Not requires' }}
          </p>
        </div>
        <div *ngIf="data.default_controls && data.default_controls.length">
          <h3>Default Controls</h3>
          <p>
            <span class="badge text-center" 
            *ngFor="let default_controls of data.default_controls">
              {{ default_controls }}
            </span>
          </p>
        </div>
        <div *ngIf="data.description">
          <h3>Description</h3>
          <p>
            {{ data.description }}
          </p>
        </div>
        <h2>Endpoints</h2>
        <nb-accordion 
        *ngIf="data.abstract && data.abstract.references">
          <nb-accordion-item *ngFor="let function of functions"
          [ngClass]="'endpoint-' + function.name"
          (click)="scrollTo('#endpoint-' + function.name)">
            <nb-accordion-item-header>
              <span class="badge method text-center" 
              *ngFor="let method of function.methods"
              [ngClass]="
              method == 'get' ? 'info' 
                : method == 'post' ? 'success' 
                  : (method == 'put' || method == 'patch') ? 'warning' 
                    : method == 'delete' ? 'danger'
              : ''">
                {{ method }}
              </span>
              {{ inform(function.name) }}
              <div class="header-description" *ngIf="function.description">
                <label class="label">
                  {{ function.description }}
                </label>
              </div>
            </nb-accordion-item-header>
            <nb-accordion-item-body>
              <div *ngIf="function.controls.length">
                <h2>Required Controls</h2>
                <p>
                  <span class="badge text-center" 
                  *ngFor="let control of function.controls">
                    {{ control }}
                  </span>
                </p>
              </div>
              <div>
                <h2>
                  Parameters
                </h2>
                <table>
                  <tbody>
                    <ng-container *ngFor="let parameter of function.parameters">
                      <tr *ngIf="parameter.name != 'user_id'">
                        <td>
                          <h3>
                            {{ parameter.name }}
                            <span class="danger" *ngIf="parameter.require">*</span>
                          </h3>
                          <div *ngIf="parameter.types.length">
                            <p>
                              <a class="clickable"
                              (click)="scrollTo('#schema-' + type)"
                              *ngFor="let type of parameter.types">
                                <span class="badge text-center" >
                                  {{ type }}
                                </span>
                              </a>
                            </p>
                          </div>
                        </td>
                        <td>
                          <div *ngIf="parameter.values.length">
                            <h4>Value</h4>
                            <p>
                              <span class="badge text-center" 
                              *ngFor="let value of parameter.values">
                                {{ value }}
                              </span>
                            </p>
                          </div>
                          {{ parameter.description }}
                        </td>
                      </tr>
                    </ng-container>
                  </tbody>
                </table>
              </div>
              <div *ngIf="function.parametersValues">
                <h2>
                  Example Parameters
                </h2>
                <div *ngIf="function.parametersType">
                  <h4>
                    Format
                  </h4>
                  <p>
                    <span class="badge text-center">
                      {{ function.parametersType }}
                    </span>
                  </p>
                </div>
                <p>
                  <code>
                    {{ (function.parametersType == 'JSON' ? 'Object' : '') }}
                    <pre>{{ function.parametersValues }}</pre>
                  </code>
                </p>
              </div>
              <div *ngIf="function.response">
                <h2>
                  Response
                </h2>
                <h4>
                  Format
                </h4>
                <p>
                  <span class="badge text-center">
                    JSON
                  </span>
                </p>
                <p>
                  <code>
                    Object
                    <pre>{{ function.response }}</pre>
                  </code>
                </p>
              </div>
            </nb-accordion-item-body>
          </nb-accordion-item>
        </nb-accordion>
        <div class="top">
          <h2>
            References
          </h2>
          <div>
            <table>
              <tbody>
                <tr *ngFor="let reference of data.abstract.references">
                  <td>
                    <h3>{{ reference.key }}</h3>
                    <div *ngIf="reference.type">
                      <label class="label">
                        {{ reference.type }}
                      </label>
                    </div>
                  </td>
                  <td>
                    <p>
                      {{ reference.label }}
                    </p>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </nb-card-body>
    </nb-card>

    <nb-card>
      <nb-card-header>
        Schemas
      </nb-card-header>
      <nb-card-body>
        <nb-accordion>
          <nb-accordion-item class="schema-filters">
            <nb-accordion-item-header>
              filters
            </nb-accordion-item-header>
            <nb-accordion-item-body>
              <h4>
                Format
              </h4>
              <p>
                <span class="badge text-center">
                  JSON
                </span>
                <span class="badge text-center">
                  Array
                </span>
              </p>
              <h4>
                Example
              </h4>
              <code>
                Object
                <pre>{{ parameterExampleFiltersString }}</pre>
              </code>
            </nb-accordion-item-body>
          </nb-accordion-item>
          <nb-accordion-item class="schema-extended_command">
            <nb-accordion-item-header>
              extended_command
            </nb-accordion-item-header>
            <nb-accordion-item-body>
              <h4>
                Format
              </h4>
              <p>
                <span class="badge text-center">
                  Array
                </span>
              </p>
              <h4>
                Example
              </h4>
              <code>
                Object
                <pre>{{ parameterExampleExtendedCommandString }}</pre>
              </code>
            </nb-accordion-item-body>
          </nb-accordion-item>
        </nb-accordion>
      </nb-card-body>
    </nb-card>

  </nb-card-body>
</nb-card>