<div class="row" *ngIf="loaded">
  <div class="col-sm-8">
    <form 
    name="form_built" 
    [formGroup]="formGroup" 
    (ngSubmit)="submit()"
    *ngIf="formGroup && builder && builder.abstract && builder.abstract.references">
      <div class="row">
        <ng-container *ngFor="let reference of builder.abstract.references">
          <div *ngIf="
          reference.key != 'active'
          && reference.key != 'user_id'
          "
          [ngClass]="'col-sm-' + (reference.grid_width ? reference.grid_width : '12')">
            <div class="form-group">
              <ng-container 
              *ngIf="
              (reference.type != 'checkbox-radio' && reference.type != 'switch')
              || (reference.values && reference.values[0])
              ">
                <label [for]="reference.key" class="label">
                  {{ reference.label }}
                  <span class="danger" *ngIf="reference.require == '1'">*</span>
                </label>
              </ng-container>
              <ng-container *ngIf="reference.type == 'input-text'">
                <input type="text" 
                nbInput 
                fullWidth 
                [id]="reference.key"
                [placeholder]="reference.placeholder"
                [hidden]="reference.hidden == '1' ? true : false"
                [readonly]="reference.readonly == '1' ? true : false"
                [formControlName]="reference.key" />
              </ng-container>
              <ng-container *ngIf="reference.type == 'textarea'">
                <textarea 
                rows="5" 
                nbInput 
                fullWidth 
                [id]="reference.key"
                [placeholder]="reference.placeholder"
                [hidden]="reference.hidden == '1' ? true : false"
                [readonly]="reference.readonly == '1' ? true : false"
                [formControlName]="reference.key">
                </textarea>
              </ng-container>
              <ng-container *ngIf="reference.type == 'text-editor'">
                <editor
                [plugins]="tinyPlugins"
                [toolbar]="tinyToolbar"
                [apiKey]="tinyAPIKey"
                [id]="reference.key"
                [placeholder]="reference.placeholder"
                [hidden]="reference.hidden == '1' ? true : false"
                [readonly]="reference.readonly == '1' ? true : false"
                [formControlName]="reference.key"
                ></editor>
              </ng-container>
              <ng-container *ngIf="reference.type == 'input-password'">
                <input type="password" 
                nbInput 
                fullWidth 
                [id]="reference.key"
                [placeholder]="reference.placeholder"
                [hidden]="reference.hidden == '1' ? true : false"
                [readonly]="reference.readonly == '1' ? true : false"
                [formControlName]="reference.key" />
              </ng-container>
              <ng-container *ngIf="reference.type == 'input-date'">
                <input
                nbInput 
                fullWidth 
                [id]="reference.key"
                [placeholder]="reference.placeholder"
                [hidden]="reference.hidden == '1' ? true : false"
                [readonly]="reference.readonly == '1' ? true : false"
                [nbDatepicker]="datePicker"
                [formControlName]="reference.key" />
                <nb-datepicker #datePicker></nb-datepicker>
              </ng-container>
              <ng-container *ngIf="reference.type == 'input-datetime'">
                <input
                nbInput 
                fullWidth 
                [id]="reference.key"
                [placeholder]="reference.placeholder"
                [hidden]="reference.hidden == '1' ? true : false"
                [readonly]="reference.readonly == '1' ? true : false"
                [nbDatepicker]="datePicker"
                [formControlName]="reference.key" />
                <nb-datepicker #datePicker></nb-datepicker>
                <input
                nbInput 
                fullWidth 
                [id]="reference.key"
                [placeholder]="reference.placeholder"
                [hidden]="reference.hidden == '1' ? true : false"
                [readonly]="reference.readonly == '1' ? true : false"
                [nbDatepicker]="timePicker"
                [formControlName]="reference.key" />
                <nb-timepicker #timePicker withSeconds></nb-timepicker>
              </ng-container>
              <ng-container *ngIf="reference.type == 'input-number'">
                <input type="number" 
                nbInput 
                fullWidth 
                [id]="reference.key"
                [hidden]="reference.hidden == '1' ? true : false"
                [readonly]="reference.readonly == '1' ? true : false"
                [placeholder]="reference.placeholder"
                [formControlName]="reference.key" />
              </ng-container>
              <ng-container *ngIf="reference.type == 'input-decimal'">
                <input type="text" 
                nbInput 
                fullWidth 
                [id]="reference.key"
                [hidden]="reference.hidden == '1' ? true : false"
                [readonly]="reference.readonly == '1' ? true : false"
                [placeholder]="reference.placeholder"
                [formControlName]="reference.key" />
              </ng-container>
              <ng-container *ngIf="reference.type == 'select'">
                <nb-select fullWidth
                [id]="reference.key"
                [hidden]="reference.hidden == '1' ? true : false"
                [readonly]="reference.readonly == '1' ? true : false"
                [placeholder]="reference.placeholder"
                [formControlName]="reference.key"
                *ngIf="reference.input_option == 'static'">
                  <nb-option value=""
                  *ngIf="reference.require != '1'">
                    -
                  </nb-option>
                  <nb-option 
                  *ngFor="let option of reference.options"
                  [value]="option">
                    {{ option }}
                  </nb-option>
                </nb-select>
                <nb-select fullWidth
                [id]="reference.key"
                [hidden]="reference.hidden == '1' ? true : false"
                [readonly]="reference.readonly == '1' ? true : false"
                [placeholder]="reference.placeholder"
                [formControlName]="reference.key"
                *ngIf="reference.input_option == 'dynamic'">
                  <nb-option value=""
                  *ngIf="reference.require != '1'">
                    -
                  </nb-option>
                  <nb-option 
                  *ngFor="let option of reference.options"
                  [value]="option[reference.input_option_dynamic_value_key]">
                    {{ option[reference.input_option_dynamic_label_key] }}
                  </nb-option>
                </nb-select>
              </ng-container>
              <ng-container *ngIf="reference.type == 'select-select2'">
                <nb-select fullWidth
                [id]="reference.key"
                [hidden]="reference.hidden == '1' ? true : false"
                [readonly]="reference.readonly == '1' ? true : false"
                [placeholder]="reference.placeholder"
                [formControlName]="reference.key"
                *ngIf="reference.input_option == 'static'">
                  <nb-option value=""
                  *ngIf="reference.require != '1'">
                    -
                  </nb-option>
                  <nb-option 
                  *ngFor="let option of reference.options"
                  [value]="option">
                    {{ option }}
                  </nb-option>
                </nb-select>
                <nb-select fullWidth
                [id]="reference.key"
                [hidden]="reference.hidden == '1' ? true : false"
                [readonly]="reference.readonly == '1' ? true : false"
                [placeholder]="reference.placeholder"
                [formControlName]="reference.key"
                *ngIf="reference.input_option == 'dynamic'">
                  <nb-option value=""
                  *ngIf="reference.require != '1'">
                    -
                  </nb-option>
                  <nb-option 
                  *ngFor="let option of reference.options"
                  [value]="option[reference.input_option_dynamic_value_key]">
                    {{ option[reference.input_option_dynamic_label_key] }}
                  </nb-option>
                </nb-select>
              </ng-container>
              <ng-container *ngIf="reference.type == 'select-multiple'">
                <nb-select fullWidth multiple
                [id]="reference.key"
                [hidden]="reference.hidden == '1' ? true : false"
                [readonly]="reference.readonly == '1' ? true : false"
                [placeholder]="reference.placeholder"
                [formControlName]="reference.key"
                *ngIf="reference.input_option == 'static'">
                  <nb-option value=""
                  *ngIf="reference.require != '1'">
                    -
                  </nb-option>
                  <nb-option 
                  *ngFor="let option of reference.options"
                  [value]="option">
                    {{ option }}
                  </nb-option>
                </nb-select>
                <nb-select fullWidth multiple
                [id]="reference.key"
                [hidden]="reference.hidden == '1' ? true : false"
                [readonly]="reference.readonly == '1' ? true : false"
                [placeholder]="reference.placeholder"
                [formControlName]="reference.key"
                *ngIf="reference.input_option == 'dynamic'">
                  <nb-option value=""
                  *ngIf="reference.require != '1'">
                    -
                  </nb-option>
                  <nb-option 
                  *ngFor="let option of reference.options"
                  [value]="option[reference.input_option_dynamic_value_key]">
                    {{ option[reference.input_option_dynamic_label_key] }}
                  </nb-option>
                </nb-select>
              </ng-container>
              <ng-container *ngIf="reference.type == 'select-multiple-select2'">
                <nb-select fullWidth multiple
                [id]="reference.key"
                [hidden]="reference.hidden == '1' ? true : false"
                [readonly]="reference.readonly == '1' ? true : false"
                [placeholder]="reference.placeholder"
                [formControlName]="reference.key"
                *ngIf="reference.input_option == 'static'">
                  <nb-option value=""
                  *ngIf="reference.require != '1'">
                    -
                  </nb-option>
                  <nb-option 
                  *ngFor="let option of reference.options"
                  [value]="option">
                    {{ option }}
                  </nb-option>
                </nb-select>
                <nb-select fullWidth multiple
                [id]="reference.key"
                [hidden]="reference.hidden == '1' ? true : false"
                [readonly]="reference.readonly == '1' ? true : false"
                [placeholder]="reference.placeholder"
                [formControlName]="reference.key"
                *ngIf="reference.input_option == 'dynamic'">
                  <nb-option value=""
                  *ngIf="reference.require != '1'">
                    -
                  </nb-option>
                  <nb-option 
                  *ngFor="let option of reference.options"
                  [value]="option[reference.input_option_dynamic_value_key]">
                    {{ option[reference.input_option_dynamic_label_key] }}
                  </nb-option>
                </nb-select>
              </ng-container>
              <ng-container *ngIf="reference.type == 'input-tags'">
                <tag-input 
                [id]="reference.key"
                [hidden]="reference.hidden == '1' ? true : false"
                [readonly]="reference.readonly == '1' ? true : false"
                [placeholder]="reference.placeholder"
                [secondaryPlaceholder]="reference.placeholder"
                [formControlName]="reference.key"
                [editable]="true" >
                </tag-input>
              </ng-container>
              <ng-container *ngIf="reference.type == 'checkbox'">
                <!-- <nb-checkbox class="block" 
                [value]="(reference.values && reference.values[0]) ? reference.values[0] : '1'"
                [id]="reference.key"
                [hidden]="reference.hidden == '1' ? true : false"
                [readonly]="reference.readonly == '1' ? true : false"
                [formControlName]="reference.key">
                  {{ reference.placeholder }}
                </nb-checkbox> -->
              </ng-container>
              <ng-container *ngIf="reference.type == 'checkbox-radio'">
                <nb-checkbox class="block" 
                [value]="(reference.values && reference.values[0]) ? reference.values[0] : '1'"
                [id]="reference.key"
                [hidden]="reference.hidden == '1' ? true : false"
                [readonly]="reference.readonly == '1' ? true : false"
                [formControlName]="reference.key">
                  <ng-container 
                  *ngIf="!reference.values || !reference.values[0]">
                    <span class="label">
                      {{ reference.label }}
                      <span class="danger" *ngIf="reference.require == '1'">*</span>
                    </span>
                  </ng-container>
                  <ng-container 
                  *ngIf="reference.values && reference.values[0]">
                    {{ reference.values[0] }}
                  </ng-container>
                </nb-checkbox>
              </ng-container>
              <ng-container *ngIf="reference.type == 'switch'">
                <mat-slide-toggle
                [value]="(reference.values && reference.values[0]) ? reference.values[0] : '1'"
                [id]="reference.key"
                [hidden]="reference.hidden == '1' ? true : false"
                [readonly]="reference.readonly == '1' ? true : false"
                [formControlName]="reference.key">
                {{ (reference.values && reference.values[0]) ? reference.values[0] : reference.label }}
                </mat-slide-toggle>
              </ng-container>
              <ng-container *ngIf="reference.type == 'image-upload'">
                <slim class="image-upload" 
                [id]="reference.key"
                *ngIf="imageUploaders[reference.key]"
                [options]="imageUploaders[reference.key].option">
                  <input type="file" [name]="reference.key" accept="image/*" />
                </slim>
              </ng-container>
              <ng-container *ngIf="reference.type == 'input-file'">
                <input type="file"
                nbInput fullWidth
                [accept]="
                (reference.file_type) ? 
                (reference.file_type + '/*')
                : '*'
                "
                [name]="reference.key" 
                />
              </ng-container>
              <ng-container *ngIf="reference.type == 'input-file-multiple'">
                <input type="file" multiple
                nbInput fullWidth
                [accept]="
                (reference.file_type) ? 
                (reference.file_type + '/*')
                : '*'
                "
                [name]="reference.key + '[]'" 
                />
              </ng-container>
              <ng-container *ngIf="reference.type == 'input-file-multiple-drop'">
                <ngx-dropzone (change)="onMultipleFilesDrop(reference.key, $event)"
                [id]="reference.key"
                [name]="reference.key"
                [accept]="
                (reference.file_type) ? 
                (reference.file_type + '/*')
                : '*'
                "
                [multiple]>
                  <ngx-dropzone-label>
                    {{ reference.placeholder ? reference.placeholder : 'Drop' }}
                  </ngx-dropzone-label>
                  <ngx-dropzone-preview *ngFor="let file of formFiles[reference.key]" 
                  [removable]="true" (removed)="onMultipleFilesRemove(reference.key, file)">
                    <ngx-dropzone-label>
                      <div class="image">
                        <img [src]="filesImagesPreview[reference.key][file.name]" 
                        *ngIf="filesImagesPreview[reference.key][file.name]" />
                      </div>
                      <div class="name" [ngClass]="filesImagesPreview[reference.key][file.name] ? 'convert' : ''">
                        {{ file.name }} ({{ file.type }})
                      </div>
                    </ngx-dropzone-label>
                  </ngx-dropzone-preview>
                </ngx-dropzone>
              </ng-container>
              <div class="form-group-helper"
              *ngIf="reference.help">
                {{ reference.help }}
              </div>
            </div>
          </div>
        </ng-container>
      </div>
    </form>
  </div>
  <div class="col-sm-4">
    <nb-card class="side-widget">
      <nb-card-body>
        <div class="row">
          <div class="col-sm-12">
            <nb-select hero fullWidth [(selected)]="active"
            [status]="active === true ? 'success' : active === false ? 'danger' : ''">
              <nb-option [value]="true">
                Active
              </nb-option>
              <nb-option [value]="false">
                Inactive
              </nb-option>
            </nb-select>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="form-component">
              <button type="submit" nbButton
              fullWidth
              (click)="submit()"
              [disabled]="!formGroup || !formGroup.valid || submitted"
              [nbSpinner]="submitted" 
              nbSpinnerStatus="primary" 
              nbSpinnerSize="large">
                <nb-icon icon="save-outline" pack="eva"></nb-icon>
                Save
              </button>
            </div>
          </div>
          <div class="col-sm-12">
            <div class="form-component">
              <button type="button" nbButton
              fullWidth
              [disabled]="submitted"
              (click)="navigate()">
                <nb-icon icon="close-outline" pack="eva"></nb-icon>
                Discard
              </button>
            </div>
          </div>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>
<div class="card-loading" *ngIf="!loaded">
  Loading...
</div>

<ng-template #dialog let-data let-ref="dialogRef">
  <nb-card>
    <nb-card-header>
      Confirm Delete
    </nb-card-header>
    <nb-card-body>{{ data }}</nb-card-body>
    <nb-card-footer>
      <button nbButton hero (click)="ref.close(true)" status="danger">
        <nb-icon class="action-icon" icon="trash-2-outline"></nb-icon>
        Delete
      </button>
      <button nbButton (click)="ref.close(false)">
        <nb-icon class="action-icon" icon="close-outline"></nb-icon>
        Cancel
      </button>
    </nb-card-footer>
  </nb-card>
</ng-template>

<ng-template #dialogDiscard let-data let-ref="dialogRef">
  <nb-card>
    <nb-card-header>
      Confirm Discard
    </nb-card-header>
    <nb-card-body>{{ data }}</nb-card-body>
    <nb-card-footer>
      <button nbButton hero (click)="ref.close(true)" status="warning">
        <nb-icon class="action-icon" icon="checkmark-outline"></nb-icon>
        Discard
      </button>
      <button nbButton (click)="ref.close(false)">
        <nb-icon class="action-icon" icon="close-outline"></nb-icon>
        Cancel
      </button>
    </nb-card-footer>
  </nb-card>
</ng-template>