@import '~@nebular/theme/styles/theming';
@import '~@nebular/theme/styles/themes/default';

h2 {
  font-size: 1.2rem;
}

h3 {
  font-size: 1rem;
}

.hidden {
  display: none !important;
}

.clickable {
  cursor: pointer;
}

.full-width {
  width: 100%;
}

.text-ellipsis {
  text-overflow: ellipsis;
  overflow-x: hidden;
  white-space: nowrap;
}

.text-preview {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.text-left {
  text-align: left;
  justify-content: left;
}

.text-center {
  text-align: center;
}

.full-width {
  width: 100%;
}

.row-icon {
  margin-right: 5px;
}

.nb-global-spinner {
  display: none !important;
}

.nb-theme-default {

  nb-sidebar {
    .main-container {
      background-image: var(--menu-background);
      background-size: cover;
    }
  
    nb-menu {
      .menu-items {
        > .menu-item {
          --menu-text-color: var(--text-control-color);
          --menu-item-divider-color: transparent;
          --menu-item-icon-color: var(--text-control-color);
          --menu-submenu-background-color: rgba(0, 0, 0, 10%);
          --menu-group-text-color: rgba(80, 80, 100, 0.5);
          --menu-item-active-text-color: rgba(80, 80, 100, 0.5);
          --menu-item-icon-active-color: rgba(80, 80, 100, 0.5);
          --menu-submenu-item-active-text-color: rgba(80, 80, 100, 0.5);
          --menu-submenu-item-icon-active-color: rgba(80, 80, 100, 0.5);
          &.menu-group {
            text-transform: uppercase;
          }
          .menu-items {
            > .menu-item {
              background: var(--menu-submenu-background-color);
              color: var(--menu-submenu-text-color);
              --menu-submenu-background-color: transparent;
            }
          }
        }
      }
    }
  }

  // [nbButton].appearance-filled {
  //   padding: 0.6875rem 5px !important;
  // }

}

nb-layout-header {
  --header-height: 56px;
  --header-padding: 13px;
  &.fixed ~ .layout-container {
    --header-height: 56px;
  }
}

nb-dialog-container {
  > nb-card {
    > nb-card-footer {
      > button {
        &:not(:last-child) {
          margin-right: 10px;
        }
      }
    }
  }
}

nb-auth {
  nb-card {
    nb-card-header {
      display: none !important;
    }
  }
}

.badge {
  color: var(--text-basic-color);
  background: var(--input-basic-background-color);
  &.info {
    color: var(--text-control-color);
    background: var(--color-info);
  }
  &.success {
    color: var(--text-control-color);
    background: var(--color-success);
  }
  &.danger {
    color: var(--text-control-color);
    background: var(--color-danger);
  }
  &.disabled {
    color: var(--text-control-color);
    background: var(--color-disabled);
  }
}

.menu-icon {
  &.si {
    font-size: 16px !important;
    margin: 0 8px 0 3px !important;
  }
  &.fa, &.fas, &.far, &.fab {
    font-size: 16px !important;
    margin: 0 8px 0 3px !important;
  }
}

.checkbox-container {
  height: 40px;
  padding-top: 8px;
}

label {
  .danger {
    color: var(--color-danger);
  }
}

slim {

	.slim-label {
    color: var(--text-hint-color);
    font-family: var(--text-label-font-family);
    font-size: var(--text-label-font-size);
    font-weight: var(--text-label-font-weight);
    line-height: var(--text-label-line-height);
	}

	.slim {
		height: 100%;
		cursor: pointer;
    padding-bottom: 100%;
    background-color: var(--input-basic-background-color);
    border-radius: var(--input-rectangle-border-radius);
    border: 1px solid var(--input-basic-border-color);
    &[data-state="preview,editor"] {
      padding-bottom: 100%;
    }
    &[data-state="preview"] {
      padding-bottom: 100%;
    }
    &[data-state="preview,busy,upload"] {
      padding-bottom: 100%;
    }
    .slim-area {
      position: absolute;
    }
	}

}

.form-group {
  margin-bottom: 10px;

  nb-checkbox {
    margin-bottom: 1rem;
    &.block {
      display: block;
      margin: 5px 0;
    }
    label {
      cursor: pointer;
    }
  }

  .mat-slider {
    padding: 0 8px 8px;
  }

  .mat-slide-toggle {
    display: block;
    .mat-slide-toggle-content {
      color: #8f9bb3;
      font-family: Open Sans, sans-serif;
      font-size: 0.75rem;
      font-weight: 700;
      line-height: 1rem;
    }
  }
  
  .form-inline [fullWidth] {
    flex: 1;
  }
  
  .form-inline > * {
    &:not(:last-child) {
      margin: 0 1.5rem 0 0;
    }
  }
  
  .form-inline {
    button {
      margin-top: 10px;
    }
  }

  .form-group-flex {
    .form-group-flex-wrapper {
      display: flex;
      .form-group-flex-auto {
        flex: auto;
        width: 100%;
      }
      .form-group-flex-1 {
        flex: 1;
        margin-right: 5px;
        &.end {
          margin-right: 0;
          margin-left: 5px;
        }
        &.icon-only {
          width: 40px;
        }
      }
    }
  }
  
  .form-group-helper {
    margin-top: 5px;
    color: #8f9bb3;
    font-family: Open Sans, sans-serif;
    font-size: 0.75rem;
    line-height: 1rem;
  }

  .label-container {
    display: flex;
    justify-content: space-between;
    margin: 0 0 10px;
  }

}

nb-card {

  &.top {
    margin-top: calc(var(--card-margin-bottom) - 5px);
  }

  nb-card-header {
    .card-header-icon {
      line-height: 1rem;
    }
    i {
      &.card-header-icon {
        width: 20px;
        text-align: center;
      }
    }
  }

  &.card-module {
    transform: translate3d(0, 0, 0);
    > nb-card-header {
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
      @media screen and (min-width: 576px) {
        display: flex;
      }
      > nb-actions {
        min-height: 38px;
        overflow-x: auto;
        @media screen and (min-width: 576px) {
          flex: auto;
        }
        > nb-action {
          min-height: inherit;
          box-shadow: none;
          &.active {
            color: var(--color-primary);
            > nb-icon {
              color: var(--color-primary);
            }
          }
          &:first-of-type {
            padding-left: 0;
          }
          button[nbButton] {
            margin: 0.5rem;
          }
          .action-icon {
            @include nb-ltr(margin-right, 0.5rem);
            @include nb-rtl(margin-left, 0.5rem);
          }
          .actions-card {
            height: 8rem;
          }
        }
      }
      > nb-select {
        width: 100%;
        max-width: 100%;
        margin-top: 5px;
        @media screen and (min-width: 576px) {
          width: 9rem;
          margin-top: 0;
        }
      }
    }
  }

  &.card-list {
    > nb-card-body {
      padding: 0;
      nb-list {
        nb-list-item {
          &:first-child {
            border-top: none;
          }
          &:last-child {
            border-bottom: none;
          }
        }
      }
      ng2-smart-table {
        table {
          tr {
            &:first-child {
              th {
                border-top: none;
              }
            }
            th, td {
              &:first-child {
                border-left: none;
              }
              &:last-child {
                border-right: none;
              }
            }
            th {
              .ng2-smart-title {
                text-align: center;
              }
            }
            td {
              &.ng2-smart-actions {
                padding: 0;
              }
              .badge {
                margin: 0 auto;
                line-height: 1.6em;
              }
              .table-image {
                display: inline-block;
                width: 56px;
                height: 56px;
                border-radius: 5px;
                border: 1px solid #d7e0e9;
                background: #dee8f1;
                object-fit: cover;
              }
            }
          }
        }
        nav {
          &.ng2-smart-pagination-nav {
            margin-left: 20px;
          }
        }
      }
      .card-loading {
        padding: 1rem 1.5rem;
      }
      nb-tab {
        .card-loading {
          padding: 0;
        }
      }
    }
  }

  &.side-widget {
    .form-component {
      button {
        margin-top: 10px;
      }
    }
  }
  
}

.buttons {
  [nbButton] {
    border-radius: 0;
    &:first-child {
      border-radius: 0.25rem 0 0 0.25rem;
    }
    &:last-child {
      border-radius: 0 0.25rem 0.25rem 0;
    }
    &:first-child {
      &:last-child {
        border-radius: 0.25rem;
      }
    }
  }
}

code {
  display: block;
  padding: 20px;
  margin: 5px 0;
  background: var(--color-basic-default);
  border-radius: var(--card-border-radius);
  overflow: auto;
  color: #009969;
  pre {
    color: #005499;
  }
}

.list-sort-container {
  max-width: 100%;
  min-height: 60px;
  display: block;
  overflow: hidden;
  background: var(--color-basic-default);
  border-radius: var(--card-border-radius);
}

.list-sort-item {
  padding: 20px 10px;
  border-bottom: solid 1px var(--list-item-divider-color);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  font-size: 14px;
  background: var(--card-background-color);
}

.cdk-drag-preview {
  box-sizing: border-box;
  box-shadow: 0px 7px 8px -4px rgba(0, 0, 0, 0.2), 0px 12px 17px 2px rgba(0, 0, 0, 0.14), 0px 5px 22px 4px rgba(0, 0, 0, 0.12);
  border: 1px solid var(--list-item-divider-color);
  z-index: 10000 !important;
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.list-sort-item:last-child {
  border: none;
}

.list-sort-container.cdk-drop-list-dragging .list-sort-item:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.list-sort-modal {
  height: 300px;
  max-width: calc(100vw - 70px);
  position: relative;
  width: 450px;
  .list-sort-item:last-child {
    border-bottom: solid 1px var(--list-item-divider-color) !important;
  }
}

.tabset {
  overflow-x: auto;
  overflow-y: hidden;
  height: 51px;
}

nb-progress-bar {
  --progress-bar-border-radius: 0;
}

.ng2-tag-input {
  padding: 0;
  border: 1px solid var(--tag-input-basic-border-color) !important;
  border-radius: var(--tag-list-with-input-rectangle-border-radius) !important;
  padding: var(--tag-list-with-input-medium-padding) !important;
  &.ng2-tag-input--focused {
    border: 1px solid var(--color-primary) !important;
  }
  > .ng2-tags-container {
    tag {
      color: var(--tag-filled-basic-text-color) !important;
      background: var(--tag-filled-basic-background-color) !important;
      margin: var(--tag-list-medium-tag-offset) !important;
      line-height: 29px;
      &:hover {
        background: var(--tag-filled-basic-background-color) !important;
      }
      delete-icon {
        svg {
          height: 30px;
        }
      }
      .tag__text {
        font-size: var(--tag-medium-text-font-size) !important;
        font-weight: var(--tag-medium-text-font-weight) !important;
      }
    }
    tag-input-form {
      input {
        background: transparent;
      }
    }
  }
}

.tox-tinymce {
  border: 1px solid var(--input-basic-border-color) !important;
  border-radius: var(--input-rectangle-border-radius) !important;
}

ngx-dropzone {
  border: 1px solid var(--input-basic-border-color) !important;
  border-radius: var(--input-rectangle-border-radius) !important;
  background-color: var(--input-basic-background-color) !important;
  ngx-dropzone-label {
    color: var(--text-hint-color) !important;
    font-family: var(--text-label-font-family) !important;
    font-size: var(--text-label-font-size) !important;
    font-weight: var(--text-label-font-weight) !important;
  }
  ngx-dropzone-preview {
    padding: 0 !important;
    border-radius: var(--input-rectangle-border-radius) !important;
    ngx-dropzone-label {
      position: relative;
      margin: 0 auto !important;
      padding: 0 !important;
      height: 100%;
      width: 100%;
      div {
        &.image {
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          border-radius: var(--input-rectangle-border-radius);
          background: #000;
          z-index: -1;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center center;
            opacity: 0.75;
            border-radius: var(--input-rectangle-border-radius);
          }
        }
        &.name {
          position: absolute;
          left: 50%;
          top: 50%;
          padding: 0 20px !important;
          transform: translate3d(-50%, -50%, 0);
          display: -webkit-box;
          -webkit-line-clamp: 4;
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis;
          &.convert {
            color: #fff !important;
          }
        }
      }
    }
    ngx-dropzone-remove-badge {
      opacity: 1 !important;
      z-index: 10 !important;
      background: var(--color-primary) !important;
      color: #fff !important;
    }
  }
}