<nb-card class="card-module" [ngClass]="active == 'list' ? 'card-list' : ''" 
*ngIf="data">
  <nb-card-header>
    <nb-actions size="small">
      <nb-action nbButton
      [ngClass]="active == 'list' ? 'active' : null"
      (click)="navigate()">
        <nb-icon class="action-icon" icon="person-outline"></nb-icon>
        <span>{{ data.name }}</span>
      </nb-action>
      <nb-action nbButton
      [ngClass]="active == 'edit' ? 'active' : null"
      *ngIf="active == 'edit'">
        <nb-icon class="action-icon" icon="edit-outline"></nb-icon>
        <span>Edit ID</span>
        <nb-icon icon="chevron-right-outline"></nb-icon>
        <span *ngIf="activeID">{{ activeID }}</span>
      </nb-action>
      <nb-action nbButton
      [ngClass]="active == 'create' ? 'active' : null"
      (click)="navigate('/create')"
      *ngIf="active != 'edit'">
        <nb-icon class="action-icon" icon="plus-outline"></nb-icon>
        <span>Create</span>
      </nb-action>
    </nb-actions>
    <nb-select hero [(selected)]="type" 
    [status]="type == 'active' ? 'success' : type == 'inactive' ? 'danger' : 'primary'"
    *ngIf="active == 'list'"
    (selectedChange)="onSelectStatus($event)">
      <nb-option *ngFor="let item of types" 
      [value]="item.value">
        {{ item.title }}
      </nb-option>
    </nb-select>
  </nb-card-header>
  <nb-card-body>
    <ng-container *ngIf="active">
      <abstract-built-table *ngIf="active == 'list'"
      [builder]="data"
      [type]="type">
      </abstract-built-table>
      <abstract-built-create *ngIf="active == 'create' && data"
      [builder]="data"
      [type]="type">
      </abstract-built-create>
      <abstract-built-edit *ngIf="active == 'edit' && data && builtData"
      [builder]="data"
      [data]="builtData"
      [type]="type">
      </abstract-built-edit>
    </ng-container>
  </nb-card-body>
</nb-card>
<nb-card *ngIf="!data && initialized">
  <nb-card-body>
    Not found
  </nb-card-body>
</nb-card>

<ng-template #dialog let-data let-ref="dialogRef">
  <nb-card>
    <nb-card-header>
      Confirm Exit
    </nb-card-header>
    <nb-card-body>{{ data }}</nb-card-body>
    <nb-card-footer>
      <button nbButton hero (click)="ref.close(true)" status="warning">
        <nb-icon class="action-icon" icon="alert-triangle-outline"></nb-icon>
        Exit
      </button>
      <button nbButton (click)="ref.close(false)">
        <nb-icon class="action-icon" icon="close-outline"></nb-icon>
        Cancel
      </button>
    </nb-card-footer>
  </nb-card>
</ng-template>