<nb-checkbox [(ngModel)]="value.view" value="view" (change)="update()">View</nb-checkbox>
<nb-checkbox [(ngModel)]="value.create" value="create" (change)="update()">Create</nb-checkbox>
<nb-checkbox [(ngModel)]="value.update" value="update" (change)="update()">Update</nb-checkbox>
<nb-checkbox [(ngModel)]="value.delete" value="delete" (change)="update()">Delete</nb-checkbox>